<template>
    <div style="padding-top:1.6rem">
        <div class="DingdanInfo-Header">
            <!-- <img @click="goBack" src="../../assets/icon-back.png" class="DingdanInfo-icon1"> -->
            <div style="width:0.5rem;height:0.5rem;float:left" @click="goBack">
                <img  src="../../assets/icon-back.png" class="DingdanInfo-icon1">
            </div>
            <span class="Dingdan-title">添加收货地址</span>
        </div>
        <div class="NewPlacePeople">
            <span class="NewPlacePeoples">联系人：</span>
            <input type="text" class="NewPlaceName" v-model="contact">
        </div>
        <div class="NewPlacePeople">
            <span class="NewPlacePeoples">手机号码：</span>
            <input type="text" class="NewPlaceName" v-model="tel">
        </div>
        <div class="NewPlacePeople">
            <div @click="showAdd" class="NewPlaceOne">
                <span class="NewPlacePeoples">收货地址：</span>
                <span class="NewPlaceName">{{sheng}}{{city}}{{qu}}</span>
            </div>
            <div class="NewPlaceTwo">
                <span class="NewPlacePeoples">详细地址：</span>
                <input type="text" class="NewPlaceName" placeholder="街道、小区、门牌号、单元" v-model="address">
            </div>
        </div>
        <mu-flex class="select-control-row">
            <mu-switch v-model="value1" label="设为默认地址"></mu-switch>
        </mu-flex>
        <div>
            <mt-popup v-model="NewPlacepopup" position="bottom">
                <mt-picker :slots="citySlots" value-key="name" @change="onMyAddressChange" :showToolbar=true>
                    <div style="overflow:hidden;text-align:center;padding:0.2rem 0.6rem;">
                        <span @click="NewPlaceN" class="NewPlaceN">取消</span>
                        <span class="NewPlaceCenter">城市选择</span>
                        <span @click="NewPlaceY" class="NewPlaceY">确认</span>
                    </div>
                </mt-picker>
            </mt-popup>
        </div>
        <div class="NewPlaceSucess" @click="NewPlaceBaocun">保存</div>
    </div>
</template>

<script>
import {API} from '../../api/config.js'
export default {
    name:'Newplace',
    components:{
        API
    },
    data(){
        return {
            value1:false,
            citySlots: [{
                flex: 1,
                values: [],
                textAlign: 'center',
                defaultIndex:1
            }, {
                flex: 1,
                values: [""],
                textAlign: 'center'
            } , {
                flex: 1,
                values: [""],
                textAlign: 'center'
            }],
            NewPlacepopup:false,
            shengf:null,
            cityf:null,
            quf:null,
            qu_id:null,
            sheng:'',
            city:'',
            qu:'',
            CityNum:null,
            contact:'',
            address:'',
            tel:'',
            province_ID:'',
            city_ID:'',
            dirstrict_ID:''
        }
    },
    mounted(){
        this.$nextTick(() => {
            this.citySlots[0].defaultIndex = 0
        })
    },
    created(){
        this.loadAreaList()
    },
    methods:{
        goBack(){
            this.$router.go(-1)
        },
        NewPlaceN(){
            this.NewPlacepopup=false
        },
        NewPlaceY(){
            console.log(this.province_ID,this.city_ID,this.dirstrict_ID)
            this.NewPlacepopup=false;
            this.sheng=this.shengf;
            this.city=this.cityf;
            this.qu=this.quf;
        },
        showAdd(){
            this.NewPlacepopup=true;
        },
        loadAreaList(){
            console.log(666)
            // this.$axios.get("http://suban.ljmob.com/api/v1/address",{}).then(res => {
            this.$axios.get(API+'/api/v1/common/provinces',{}).then(res => {
                console.log(res)
                this.citySlots[0].values = res.data.data
            })
        },
        //地址
        onMyAddressChange(picker, value){
            console.log(this.citySlots)
            if (this.citySlots[0].values.length !== 0) {
                // console.log(value);
                this.shengf=value[0].name;
                this.CityNum=value[0].id
                this.province_ID = value[0].id
                console.log(this.province_ID)
                console.log(this.CityNum)
                if(value[0].id){
                    // this.$axios.get("http://suban.ljmob.com/api/v1/address/cities?id="+value[0].id, {}).then(res => {
                    this.$axios.get(API+'/api/v1/common/cities',{
                        params:{"province_id":value[0].id}
                    }).then(res => {
                        console.log(res)
                        res.data.data.unshift("")
                        picker.setSlotValues(1,res.data.data); // 区/县数据就是一个数组
                        this.cityf=value[1].name;
                        if(this.cityf===undefined){
                            console.log(value[1].id)
                        }else{
                                console.log(this.cityf)
                                this.CityNum=value[1].id;
                                this.city_ID= value[1].id;
                                console.log(this.city_ID)
                            }
                        if(value[1].id){
                            // this.$axios.get("http://suban.ljmob.com/api/v1/address/regions?id="+value[1].id, {}).then(res => {
                            this.$axios.get(API+'/api/v1/common/districts',{params:{"city_id":value[1].id}}).then(res => {
                                console.log(res);
                                if(res.data.data!==null&&res.data.data.length>0){
                                    res.data.data.unshift("")
                                    console.log(res.data.data)
                                    picker.setSlotValues(2,res.data.data); // 区/县数据就是一个数组
                                    console.log(value[2].name)
                                    this.quf=value[2].name
                                }else{
                                    picker.setSlotValues(2,[{id:99999,name:"请选择地区"}]); // 区/县数据就是一个数组
                                    // this.qu=value[2].name
                                }
                                if(value[2].id||value[1].id){
                                    this.qu_id=value[2].id||value[1].id;
                                }
                                if(this.quf==undefined){

                                    }else{
                                        console.log(this.quf)
                                        this.CityNum=value[2].id;
                                        this.dirstrict_ID = value[2].id
                                    }
                            })
                        }
                    })
                }
            }
            console.log(this.province_ID,this.city_ID,this.dirstrict_ID)
        },
        NewPlaceBaocun(){
            this.$axios.post(API+'/api/v1/i/address',{
                "province_id":this.province_ID,
                "city_id":this.city_ID,
                "district_id":this.dirstrict_ID,
                "address":this.address,
                "contact":this.contact,
                "tel":this.tel,
                "default":this.value1
            },{
                headers:{
                    'Authorization':JSON.parse(localStorage.getItem('userInfo'))
                }
            }).then((response)=>{
                console.log(response)
                if(response.data.code!==0){
                    alert("请完善信息")
                }else{
                    // this.$router.push('/Lingpeijian/')
                    this.$router.go(-1)
                }
            }).catch((response)=>{
                alert('请完善信息')
            })
        }
    }
}
</script>

<style>
.DingdanInfo-Header{
text-align: center;
overflow: hidden;
width: 100%;
padding: 0.3rem;
box-shadow: 1px 1px 15px rgba(34,24,21,0.08);
position: fixed;
top: 0;
left: 0;
z-index: 100;
background: #fff
}
.DingdanInfo-icon1{
    width: 0.2rem;
    height: 0.4rem;
    float: left;
}
.Dingdan-title{
    font-size: 18px;
    color: #101012;
}
.DingdanInfo-icon2{
    width: 0.4rem;
    height: 0.4rem;
    float: right;
}
.mint-popup-bottom {
    width: 100%
}
.NewPlaceN{
    color: #CCCCCC;
    font-size: 14px;
    float: left
}
.NewPlaceCenter{
    color: #101012;
    font-size: 14px
}
.NewPlaceY{
    color: #101012;
    font-size: 14px;
    float: right
}
.picker-toolbar{
    height: 1.2rem;
}
.NewPlacePeople{
    box-shadow:1px 1px 15px rgba(34,24,21,0.08);
    margin: 0 0.3rem;
    margin-bottom: 0.3rem;
    padding: 0.3rem 0.2rem;
}
.NewPlacePeoples{
    color: rgba(102, 102, 102, 0.8);
    font-size: 15px;
    font-weight: bold
}
.NewPlaceName{
    color: #101012;
    font-size: 14px;
    outline: none;
    width: 70%
}
.NewPlaceOne{
    border-bottom: rgba(34, 24, 21, 0.08) 1px solid;
    margin-bottom: 0.2rem;
    padding-bottom: 0.2rem
}
.NewPlaceSucess{
    background: linear-gradient(to right, #9953F0 , #7465E9);
    margin: 0 0.3rem;
    font-size: 15px;
    color: #fff;
    text-align: center;
    width: 6.9rem;
    height: 0.9rem;
    line-height: 0.9rem;
    border-radius: 0.46rem;
    margin-top: 3rem
}

.mu-switch-label{
    color: rgba(102, 102, 102, 0.8);
    font-size: 15px;
}
.mu-switch {
    margin-left: 0.3rem
}
</style>
