<template>
    <div style="position:relative;padding-top:1.6rem;height:100%">
        <div class="DingdanInfo-Header">
            <!-- <img @click="goBack" src="../../assets/icon-back.png" class="DingdanInfo-icon1"> -->
            <div style="width:0.5rem;height:0.5rem;float:left" @click="goBack">
                <img  src="../../assets/icon-back.png" class="DingdanInfo-icon1">
            </div>
            <span class="Dingdan-title">信息审核详情</span>
        </div>
        <div class="IfnAuditInfosCenter">
            <div class="AuditedPassHeader" v-if="AuditedInfo.state == 'accept'">
                <img src="../../assets/icon-shehe1-yes.png" class="AuditedPassIcon">
                <span style="float:left;margin-top:0.4rem">审核通过</span>
            </div>
            <div class="AuditedPassHeaders" v-if="AuditedInfo.state == 'deny'">
                <img src="../../assets/icon-shehe1-no.png" class="AuditedPassIcon">
                <span style="float:left;margin-top:0.4rem">审核拒绝</span>
            </div>
           <div class="IfnAuditInfosCenters">
                <p class="IfnAuditInfosCenteTitle">设备信息</p>
                <div class="IfnAuditInfosCentersOne">
                    <span class="IfnAuditInfosCenterName">设备名称：</span>
                    <span class="IfnAuditInfosCentersC">{{AuditedInfo.product_name}}</span>
                </div>
                <div class="IfnAuditInfosCentersOne">
                    <span class="IfnAuditInfosCenterName">设备编号：</span>
                    <span class="IfnAuditInfosCentersC">{{AuditedInfo.num}}</span>
                </div>
                <div class="IfnAuditInfosCentersOne" v-if="ShowLPJ">
                    <span class="IfnAuditInfosCenterName">零配件名称：</span>
                    <span class="IfnAuditInfosCentersC">{{AuditedInfo.items[0].name}}</span>
                </div>
                <div class="IfnAuditInfosCentersOne" v-if="ShowLPJ">
                    <span class="IfnAuditInfosCenterName">零配件型号：</span>
                    <span class="IfnAuditInfosCentersC">{{AuditedInfo.items[0].model}}</span>
                </div>
           </div>
           <div class="IfnAuditInfosCenters" v-if="PicImgs">
                <p class="IfnAuditInfosCenteTitle" style="border:none">零配件图片</p>
                <div class="AuditedPass-imgs" >
                    <img v-for="(item,index) in PicImgs" :key="index" v-bind:src="item" class="AuditedPass-img" @click="BigImage(item)" :class="(index+1)%4 == 0 ? 'Dingdan-imgNone':''">
                </div>
           </div>
           <div class="IfnAuditInfosCenters" v-if="DrawImgs">
                <p class="IfnAuditInfosCenteTitle" style="border:none">零配件图纸</p>
                <div class="AuditedPass-imgs" >
                    <img v-for="(item,index) in DrawImgs" :key="index" v-bind:src="item" class="AuditedPass-img" @click="BigImage(item)" :class="(index+1)%4 == 0 ? 'Dingdan-imgNone':''">
                </div>
           </div>
           <div class="IfnAuditInfosCenters">
                <p class="IfnAuditInfosCenteTitle">购买信息</p>
                <div class="IfnAuditInfosCentersOne">
                    <span class="IfnAuditInfosCenterName">公司：</span>
                    <span class="IfnAuditInfosCentersC">{{AuditedInfo.company_name}}</span>
                </div>
                <div class="IfnAuditInfosCentersOne">
                    <span class="IfnAuditInfosCenterName">地址：</span>
                    <span class="IfnAuditInfosCentersC">{{AuditedInfo.address}}</span>
                </div>
                <div class="IfnAuditInfosCentersOne">
                    <span class="IfnAuditInfosCenterName">用户：</span>
                    <span class="IfnAuditInfosCentersC">{{AuditedInfo.contact}}</span>
                </div>
                <div class="IfnAuditInfosCentersOne">
                    <span class="IfnAuditInfosCenterName">电话：</span>
                    <span class="IfnAuditInfosCentersC">{{AuditedInfo.tel}}</span>
                </div>
           </div>
           <div class="IfnAuditInfosCenters" v-if="AuditedInfo.state == 'deny'">
                <p class="IfnAuditInfosCenteTitle">拒绝理由</p>

                <p style="color:#101012">{{AuditedInfo.audit_remark}}</p>

                <!-- <p style="color:#101012;font-size:14px">拒绝的理由,拒绝的理由,拒绝的理由,拒绝的理由,拒绝的理由,拒绝的理由,</p> -->

           </div>
        </div>
        <BigImage v-if="BigImageOpen" :BigImageOpen='BigImageOpen' v-on:changeDeletPopup='changeDeletPopup'></BigImage>
    </div>
</template>

<script>
import {API} from '../../api/config.js'
import BigImage from '../../common/BigImage'
export default {
    name:'AuditedPass',
    data(){
        return {
            AuditedInfo:{},
            PicImgs:[],
            DrawImgs:[],
            ShowLPJ:false,
            BigImageOpen:false,
        }
    },
    components:{BigImage},
    created(){
        this.getAudited()
    },
    methods:{
        goBack(){
            // this.$router.go(-1)
            this.$router.push('/MyMac/InfAudi/NotAudit')
        },
        changeDeletPopup(Props){
            console.log(Props)
            this.BigImageOpen = Props
        },
        BigImage(value){
            sessionStorage.setItem('ImageUrl',JSON.stringify(value))
            this.BigImageOpen = true
        },
        getAudited(){
            this.$axios.get(API+'/api/v1/w/associate_request_info',{params:{
                "request_id":this.$route.params.id,
            }},{
                headers:{
                    'Authorization':JSON.parse(localStorage.getItem('userInfo'))
                }
            }).then((response)=>{
                console.log(response.data.data)
                if(response.data.data.items[0]){
                    this.PicImgs = response.data.data.items[0].pic_urls
                }
                if(response.data.data.items[0]){
                    this.DrawImgs = response.data.data.items[0].draw_urls
                }
                
                this.AuditedInfo = response.data.data
                if(this.AuditedInfo.items.length>0){
                    this.ShowLPJ = true
                }
            })
        }
    }
}
</script>

<style>
.Dingdan-title{
    color: #101012;
    font-size: 18px;
    font-weight: bold;
}
.DingdanInfo-Header{
text-align: center;
overflow: hidden;
width: 100%;
padding: 0.3rem;
box-shadow: 1px 1px 15px rgba(34,24,21,0.08);
position: fixed;
top: 0;
left: 0;
z-index: 100;
background: #fff
}
.DingdanInfo-icon1{
    width: 0.2rem;
    height: 0.4rem;
    float: left;
}
.IfnAuditInfosCenter{
    padding: 0 0.3rem;
}
.IfnAuditInfosCenters{
    margin-bottom: 0.5rem
}
.IfnAuditInfosCenteTitle{
    color: #999999;
    font-size: 12px;
    border-bottom: 1px solid #F1F1F1;
    margin-bottom: 0.3rem;
    padding-bottom: 0.2rem
}
.IfnAuditInfosCenterName{
    color: #999999;
    font-size: 15px;
}
.IfnAuditInfosCentersC{
    color: #101012;
    font-size: 15px;
    font-weight: bold;
}
.IfnAuditInfosCentersOne{
    margin-bottom: 0.2rem
}
.AuditedPassIcon{
    width: 1.4rem;
    height: 1.4rem;
    float: left;
    margin-left: 25%;
    margin-right: 0.4rem
}
.AuditedPassHeader{
    background: linear-gradient(to right , #39DEBD, #60E8A0);
    text-align: center;
    color: #fff;
    border-radius: 0.1rem;
    padding: 0.4rem 0;
    font-size: 24px;
    font-weight: bold;
    overflow: hidden;
    width: 100%;
    margin-bottom: 0.6rem
}
.AuditedPassHeaders{
    background: linear-gradient(to right , #F2A36E, #F0876E);
    text-align: center;
    color: #fff;
    border-radius: 0.1rem;
    padding: 0.4rem 0;
    font-size: 24px;
    font-weight: bold;
    overflow: hidden;
    width: 100%;
    margin-bottom: 0.6rem
}
.AuditedPass-imgs{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 0.5rem;
}
.AuditedPass-img{
    width: 1.5rem;
    height: 1.5rem;
    margin-bottom: 0.3rem;
    margin-right: 0.3rem
}
.Dingdan-imgNone{
    margin-right: 0
}
</style>
