<template>
    <div style="position:relative;padding-top:1.4rem;height:100%">
        <div class="DingdanInfo-Header" style="box-shadow:unset">
        <!-- <div class="DingdanInfo-Header" > -->
            <span class="Dingdan-title">信息审核</span>
        </div>
            <AuditNavbar></AuditNavbar>
        <!-- <router-view></router-view> -->
        <transition name="fade">
            <router-view></router-view>
        </transition>
    </div>
</template>

<script>
import AuditNavbar from './AudNavbar/Navbar'
export default {
    name:'InfAudit',
    components:{
        AuditNavbar
    },
    data(){
        return {
            
        }
    },
    methods:{
        
    }
}
</script>

<style>
.fade-enter-active, .fade-leave-active {
  transition: opacity .3s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}
.Dingdan-title{
    color: #101012;
    font-size: 18px;
    font-weight: bold;
}
.DingdanInfo-Header{
text-align: center;
overflow: hidden;
width: 100%;
padding: 0.3rem;
box-shadow: 1px 1px 15px rgba(34,24,21,0.08);
position: fixed;
top: 0;
left: 0;
z-index: 100;
background: #fff
}

</style>
