<template>
    <div style="position:relative;padding-top:1.6rem;height:100%">
        <div class="DingdanInfo-Header">
            <!-- <img @click="goBack" src="../../assets/icon-back.png" class="DingdanInfo-icon1"> -->
            <div style="width:0.5rem;height:0.5rem;float:left" @click="goBack">
                <img  src="../../assets/icon-back.png" class="DingdanInfo-icon1">
            </div>
            <span class="Dingdan-title">信息审核-待审核</span>
        </div>
        <div class="IfnAuditInfosCenter">
           <div class="IfnAuditInfosCenters">
                <p class="IfnAuditInfosCenteTitle">设备信息</p>
                <div class="IfnAuditInfosCentersOne">
                    <span class="IfnAuditInfosCenterName">设备名称：</span>
                    <span class="IfnAuditInfosCentersC">{{InfAuditInfo.product_name}}</span>
                </div>
                <div class="IfnAuditInfosCentersOne">
                    <span class="IfnAuditInfosCenterName">设备编号：</span>
                    <span class="IfnAuditInfosCentersC">{{InfAuditInfo.num}}</span>
                </div>
                <div class="IfnAuditInfosCentersOne" v-if="InfAuditInfo.items[0]">
                    <span class="IfnAuditInfosCenterName">零配件名称：</span>
                    <span class="IfnAuditInfosCentersC">{{InfAuditInfo.items[0].name}}</span>
                </div>
                <div class="IfnAuditInfosCentersOne" v-if="InfAuditInfo.items[0]">
                    <span class="IfnAuditInfosCenterName">零配件型号：</span>
                    <span class="IfnAuditInfosCentersC">{{InfAuditInfo.items[0].model}}</span>
                </div>
           </div>
           <div class="IfnAuditInfosCenters" >
                <p class="IfnAuditInfosCenteTitle" style="border:none">零配件图片</p>
                <div class="AuditedPass-imgs" >
                    <img v-for="(item,index) in PicImgs" :key="index" v-bind:src="item" class="AuditedPass-img" @click="BigImage(item)" :class="(index+1)%4 == 0 ? 'Dingdan-imgNone':''">
                </div>
            </div>
            <div class="IfnAuditInfosCenters" v-if="DrawImgs">
                <p class="IfnAuditInfosCenteTitle" style="border:none">零配件图纸</p>
                <div class="AuditedPass-imgs" >
                    <img v-for="(item,index) in DrawImgs" :key="index" v-bind:src="item" class="AuditedPass-img" @click="BigImage(item)" :class="(index+1)%4 == 0 ? 'Dingdan-imgNone':''">
                </div>
            </div>
           <div class="IfnAuditInfosCenters">
                <p class="IfnAuditInfosCenteTitle">购买信息</p>
                <div class="IfnAuditInfosCentersOne">
                    <span class="IfnAuditInfosCenterName">公司：</span>
                    <span class="IfnAuditInfosCentersC">{{InfAuditInfo.company_name}}</span>
                </div>
                <div class="IfnAuditInfosCentersOne">
                    <span class="IfnAuditInfosCenterName">地址：</span>
                    <span class="IfnAuditInfosCentersC">{{InfAuditInfo.address}}</span>
                </div>
                <div class="IfnAuditInfosCentersOne">
                    <span class="IfnAuditInfosCenterName">用户：</span>
                    <span class="IfnAuditInfosCentersC">{{InfAuditInfo.contact}}</span>
                </div>
                <div class="IfnAuditInfosCentersOne">
                    <span class="IfnAuditInfosCenterName">电话：</span>
                    <span class="IfnAuditInfosCentersC">{{InfAuditInfo.tel}}</span>
                </div>
           </div>
        </div>
        <div class="InfAuditInfosFoot">
            <span class="InfAuditInfosBtn InfAuditInfosBtnL" @click="NotPass">拒绝</span>
            <span class="InfAuditInfosBtn InfAuditInfosBtnR" @click="Pass">通过</span>
        </div>
        <BigImage v-if="BigImageOpen" :BigImageOpen='BigImageOpen' v-on:changeDeletPopup='changeDeletPopup'></BigImage>
    </div>
</template>

<script>
import {API} from '../../api/config.js'
import Toast from 'muse-ui-toast';
import BigImage from '../../common/BigImage'
export default {
    name:'InfAuditInfos',
    components:{
        BigImage
    },
    data(){
        return {
            InfAuditInfo:{},
            PicImgs:[],
            DrawImgs:[],
            BigImageOpen:false,
        }
    },
    created(){
        this.getAllMyMac()
    },
    methods:{
        BigImage(index){
            sessionStorage.setItem('ImageUrl',JSON.stringify(index))
            this.BigImageOpen = true
        },
        changeDeletPopup(Props){
            console.log(Props)
            this.BigImageOpen = Props
        },
        getAllMyMac(){
            this.$axios.get(API+'/api/v1/w/associate_request_info',{params:{
                "request_id": this.$route.params.id
            }},{
                headers:{
                    'Authorization':JSON.parse(localStorage.getItem('userInfo'))
                }
            }).then((response)=>{
                console.log(response)
                if(response.data.data.items[0]){
                    this.PicImgs = response.data.data.items[0].pic_urls
                    this.DrawImgs = response.data.data.items[0].draw_urls
                }
                this.InfAuditInfo = response.data.data
            })
        },
        goBack(){
            this.$router.go(-1)
        },
        NotPass(){
            this.$router.push('/NotPassReason/'+this.$route.params.id)
        },
        Pass(){
            this.$axios.post(API+'/api/v1/w/audit_associate',{
                "request_id":this.$route.params.id,
                "type":'accept'
            },{
                headers:{
                    'Authorization':JSON.parse(localStorage.getItem('userInfo'))
                }
            }).then((response)=>{
                if(response.data.code == 0){
                    // alert('设备审核成功')
                    Toast.config({
                        position:'top',
                        time: 1000,
                        close:false,
                    })
                    Toast.success('设备审核成功');
                    this.$router.push('/AuditedPass/'+this.$route.params.id)
                } else {
                    // alert('设备审核成功')
                    Toast.config({
                        position:'top',
                        time: 1000,
                        close:false,
                    })
                    Toast.error('设备审核失败');
                }
            })
        }
    }
}
</script>

<style>
.Dingdan-title{
    color: #101012;
    font-size: 18px;
    font-weight: bold;
}
.DingdanInfo-Header{
text-align: center;
overflow: hidden;
width: 100%;
padding: 0.3rem;
box-shadow: 1px 1px 15px rgba(34,24,21,0.08);
position: fixed;
top: 0;
left: 0;
z-index: 100;
background: #fff
}
.DingdanInfo-icon1{
    width: 0.2rem;
    height: 0.4rem;
    float: left;
}
.IfnAuditInfosCenter{
    padding: 0 0.3rem;
    margin-bottom: 2rem
}
.IfnAuditInfosCenters{
    margin-bottom: 0.5rem
}
.IfnAuditInfosCenteTitle{
    color: #999999;
    font-size: 12px;
    border-bottom: 1px solid #F1F1F1;
    margin-bottom: 0.3rem;
    padding-bottom: 0.2rem
}
.IfnAuditInfosCenterName{
    color: #999999;
    font-size: 15px;
}
.IfnAuditInfosCentersC{
    color: #101012;
    font-size: 15px;
    font-weight: bold;
}
.IfnAuditInfosCentersOne{
    margin-bottom: 0.3rem
}
.InfAuditInfosBtn{
    font-size: 15px;
    border-radius: 0.46rem;
    padding: 0.2rem 1.36rem
}
.InfAuditInfosBtnL{
    float: left;
    color: #9953F0;
    border: 1px solid #9953F0
}
.InfAuditInfosBtnR{
    color: #fff;
    background: linear-gradient(to right, #9953F0 , #7465E9);
    float: right;
}
.InfAuditInfosFoot{
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 0.3rem;
    box-shadow:1px 1px 15px rgba(34,24,21,0.08);
    background: #fff
}
.AuditedPass-img{
    width: 1.5rem;
    height: 1.5rem;
    margin-bottom: 0.3rem;
    margin-right: 0.3rem
}
</style>
