<template>
  <div class="swiper-box">
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide" v-for="(item, index) in list" :key="index">
          <keep-alive>
            <component :is="item.component"></component>
          </keep-alive>
        </div>
      </div>
    </div>
  </div>
</template>

<script type="text/ecmascript-6">
  import one from '../Dingdan/All.vue';
  import three from '../Dingdan/Tiaosi.vue';
  import four from '../Dingdan/Weixiu.vue';
  import five from '../Dingdan/Gaizao.vue';
  import six from '../Dingdan/Other.vue';
  import Swiper from './../../../static/swiper.min.js';
  import './../../../static/swiper.min.css';

  export default {
    components: {
      one,three,four,five
    },
    data() {
      return {
        list: [
          {path: '/MyMac/DingdanRoom/All', component: one},
          {path: '/MyMac/DingdanRoom/Tiaosi', component: three},
          {path: '/MyMac/DingdanRoom/Weixiu', component: four},
          {path: '/MyMac/DingdanRoom/Gaizao', component: five},
          {path: '/MyMac/DingdanRoom/Other', component: six}
        ]
      }
    },
    mounted() {
      var mySwiper = new Swiper('.swiper-container', {
        autoHeight: true,
        observer:true,
        observeParents:true,
        // 设定初始化时slide的索引
        initialSlide: this.$route.path === '/MyMac/DingdanRoom/All' ? 0 : this.$route.path === '/MyMac/DingdanRoom/Tiaosi' ? 1 : this.$route.path === '/MyMac/DingdanRoom/Weixiu' ? 2 : this.$route.path === '/MyMac/DingdanRoom/Gaizao' ? 3 : this.$route.path === '/MyMac/DingdanRoom/Other' ? 4 : 0
      });
      mySwiper.on('slideChange', () => { // 监控滑动后当前页面的索引，将索引发射到导航组件
        // 左右滑动时将当前slide的索引发送到nav组件
        this.$root.eventHub.$emit('slideTab', mySwiper.activeIndex);
      });
      // 接收nav组件传过来的导航按钮索引值，跳转到相应内容区
      this.$root.eventHub.$on('changeTab', (index) => { // 点击导航键跳转相应内容区
        mySwiper.slideTo(index, 0, false);
      });
      console.log(mySwiper);
    }
  }
</script>
<style lang="stylus" type="text/stylus" rel="stylesheet/stylus">

</style>
