<template>

    <div style="padding-top:1.6rem;height:100%">

    <div style="padding-top:1.7rem">

        <div class="DingdanInfo-Header">
            <!-- <img @click="goBack" src="../../assets/icon-back.png" class="DingdanInfo-icon1"> -->
            <div style="width:0.5rem;height:0.5rem;float:left" @click="goBack">
                <img  src="../../assets/icon-back.png" class="DingdanInfo-icon1">
            </div>
            <span class="Dingdan-title">修改昵称 </span>
        </div>
        <div class="NewPlacePeople">
            <span class="NewPlacePeoples">昵称：</span>
            <input type="text" class="NewPlaceName" v-model="contact">
        </div>
        <div class="MySetCenterFoot" @click="gotoMine">保存</div>
    </div>
</template>
<script>
import {API} from '../../api/config.js'
import Toast from 'muse-ui-toast';
export default {
    name:'ChangName',
    data(){
        return {
            contact:''
        }
    },
    methods:{
        goBack(){
            this.$router.go(-1)
        },
        gotoBanbenInfo(){
            this.$router.push('/BanbenInfo/')
        },
        gotoMine(){
            this.$axios.post(API+'/api/v1/w/set_profile',{
                "name":this.contact
            },{
                headers:{
                    'Authorization':JSON.parse(localStorage.getItem('userInfo'))
                }
            }).then((response)=>{
                if(response.data.code == 0){
                    // alert('修改成功')
                    Toast.config({
                        position:'top',
                        time: 1000,
                        close:false,
                    })
                    Toast.success('修改成功');
                    this.$router.push('/MyInformation/')
                }else{
                    // alert('修改失败')
                    Toast.config({
                        position:'top',
                        time: 1000,
                        close:false,
                    })
                    Toast.error('修改失败');
                }
            })
        }
    }
}
</script>

<style>
.DingdanInfo-Header{
text-align: center;
overflow: hidden;
width: 100%;
padding: 0.3rem;
box-shadow: 1px 1px 15px rgba(34,24,21,0.08);
position: fixed;
top: 0;
left: 0;
z-index: 100;
background: #fff
}
.DingdanInfo-icon1{
    width: 0.2rem;
    height: 0.4rem;
    float: left;
}
.Dingdan-title{
    font-size: 18px;
    color: #101012;
    font-weight: bold
}
.NewPlacePeople{
    box-shadow:1px 1px 15px rgba(34,24,21,0.08);
    margin: 0 0.3rem;
    margin-bottom: 0.3rem;
    padding: 0.3rem 0.2rem;
}
.NewPlacePeoples{
    color: rgba(102, 102, 102, 0.8);
    font-size: 15px;
    font-weight: bold
}
.NewPlaceName{
    color: #101012;
    font-size: 14px;
    outline: none;
    width: 70%
}
.MySetCenterFoot{
    width: 6.9rem;
    height: 0.9rem;
    line-height: 0.9rem;
    text-align: center;
    font-weight: bold;
    color: #fff;
    font-size: 15px;
    background: linear-gradient(to right, #9953F0 , #7465E9);
    border-radius: 0.46rem;
    position: absolute;
    left: 0.3rem;
    bottom: 6.4rem
}
</style>
