<template>
    <div style="padding-top:1.6rem">
        <div class="DingdanInfo-Header">
            <!-- <img @click="goBack" src="../../assets/icon-back.png" class="DingdanInfo-icon1"> -->
            <div style="width:0.5rem;height:0.5rem;float:left" @click="goBack">
                <img  src="../../assets/icon-back.png" class="DingdanInfo-icon1">
            </div>
            <span class="Dingdan-title">设备整改记录</span>
            <!-- <img src="../../assets/icon-nav-share.png" class="DingdanInfo-icon2"> -->
        </div>
        <div class="MyAboutMacInfoCenter">
            <p class="MyAboutMacInfoName">LT-DPH260高速泡罩包装机</p>
            <div class="MyAboutMacTwo MyAboutMacInfos">
                <img src="../../assets/icon-notes-1.png" class="MyAboutMacIcon2">
                <span class="MyAboutMacTwoName">CM400</span>
                <img src="../../assets/icon-notes-4.png" class="MyAboutMacIcon2">
                <span class="MyAboutMacTwoName">380V 50hz</span>
                <img src="../../assets/icon-notes-5.png" class="MyAboutMacIcon2">
                <span class="MyAboutMacTwoName">250kg</span>
            </div>
            <p class="MyAboutMacInfoTime">关联时间：2018.09.26</p>
            <p class="MyAboutMacInfoBaoyang">保养记录</p>
            <div class="MyAboutMacInfoBaoyangCenter">
                <div class="MyAboutMacInfoCenterHeader">
                    <img src="../../assets/icon-notes-time.png" class="MyAboutMacInfoIcon1">
                    <span class="MyAboutMacInfoCenterTime">2018.11.19</span>
                    <span class="MyAboutMacInfoCenterTime">设备改造</span>
                </div>
                <div class="MyAboutMacInfoCenters">
                    <p class="MyAboutMacInfoCenterProduc">这个机器啊一不小心就坏了，这坏了我就得修这个机器啊</p>
                    <div class="MyAboutMacInfoImages">
                        <img src="" class="MyAboutMacInfoImage">
                    </div>
                    <p class="MyAboutMacInfoCenterPeople">处理师傅：张三</p>
                    <p class="MyAboutMacInfoCenterReason">电机不导电，重修装机</p>
                </div>
            </div>
            <div class="MyAboutMacInfoBaoyangCenter">
                <div class="MyAboutMacInfoCenterHeader">
                    <img src="../../assets/icon-notes-time.png" class="MyAboutMacInfoIcon1">
                    <span class="MyAboutMacInfoCenterTime">2018.11.19</span>
                    <span class="MyAboutMacInfoCenterTime">设备改造</span>
                </div>
                <div class="MyAboutMacInfoCenters">
                    <p class="MyAboutMacInfoCenterProduc">这个机器啊一不小心就坏了，这坏了我就得修这个机器啊</p>
                    <div class="MyAboutMacInfoImages">
                        <img src="" class="MyAboutMacInfoImage">
                    </div>
                    <p class="MyAboutMacInfoCenterPeople">处理师傅：张三</p>
                    <p class="MyAboutMacInfoCenterReason">电机不导电，重修装机</p>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import {API} from '../../api/config.js'
export default {
    name:'MyAboutMacInfo',
    data(){
        return {}
    },
    created(){
        this.getAllInspects()
    },
    methods:{
        goBack(){
            this.$router.push('/MyMac/My')
        },
        //获取整改记录
        getAllInspects(){
            this.$axios.get(API+'/api/v1/i/product_inspects',{params:{
                "product_id": this.$route.params.id,
                "page": 1,
                "per": 10
            }},{
                headers:{
                    'Authorization':JSON.parse(localStorage.getItem('userInfo'))
                }
            }).then((response)=>{
                console.log(response)
            })
        }
    }
}
</script>

<style>
.DingdanInfo-Header{
text-align: center;
overflow: hidden;
width: 100%;
padding: 0.3rem;
box-shadow: 1px 1px 15px rgba(34,24,21,0.08);
position: fixed;
top: 0;
left: 0;
z-index: 100;
background: #fff
}
.DingdanInfo-icon1{
    width: 0.2rem;
    height: 0.4rem;
    float: left;
}
.Dingdan-title{
    font-size: 18px;
    color: #101012;
}
.DingdanInfo-icon2{
    width: 0.4rem;
    height: 0.4rem;
    float: right;
}
.MyAboutMacTwo{
    overflow: hidden;
    margin-bottom: 0.16rem
}
.MyAboutMacIcon2{
    width: 0.24rem;
    height: 0.24rem;
    float: left;
    margin-right: 0.1rem;
    margin-top: 0.06rem
}
.MyAboutMacTwoName{
    color: #CCCCCC;
    font-size: 11px;
    margin-right: 0.3rem;
    float: left;
}
.MyAboutMacInfoCenter{
    margin: 0 0.3rem
}
.MyAboutMacInfoName{
    color: #101012;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 0.1rem
}
.MyAboutMacInfoTime{
    color: #999999;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 0.4rem
}
.MyAboutMacInfoBaoyang{
    color: #999999;
    font-size: 12px;
    font-weight: bold
}
.MyAboutMacInfoBaoyangCenter{
    margin-top: 0.1rem;
    padding-top: 0.4rem;
    border-top: #F1F1F1 1px solid;
}
.MyAboutMacInfoCenterHeader{
    overflow: hidden;
    margin-bottom: 0.1rem
}
.MyAboutMacInfoIcon1{
    width: 0.24rem;
    height: 0.24rem;
    float: left;
    margin-right: 0.2rem;
    margin-top: 0.04rem
}
.MyAboutMacInfoCenterTime{
    color: #101012;
    /* font-weight: bold; */
    font-size: 12px;
    float: left;
    margin-right: 0.3rem
}
.MyAboutMacInfoCenterProduc{
    color: #666666;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 0.1rem
}
.MyAboutMacInfoImages{
    position: flex;
    flex-wrap:wrap;
    margin-bottom: 0.2rem
}
.MyAboutMacInfoImage{
    width: 1.46rem;
    height: 1.46rem;
}
.MyAboutMacInfoCenterPeople{
    color: #999999;
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 0.1rem
}
.MyAboutMacInfoCenterReason{
    color: #666666;
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 0.6rem
}
.MyAboutMacInfoCenters{
    margin-left: 0.42rem
}
.MyAboutMacInfos{
    padding: 0.1rem 0;
    border: none
}
</style>
