<template>
    <div style="padding-top:1.6rem">
        <div class="DingdanInfo-Header">
            <img @click="goBack" src="../../assets/icon-back.png" class="DingdanInfo-icon1">
            <span class="Dingdan-title">我的订单</span>
        </div>
        <div>
            <span :class="{ on: ison}"  @click="_loginway()">页面1</span>
            <span :class="{ on: !ison}"  @click="_loginway()">页面2</span>
        </div>
        <div v-show="ison">
            <p>页面1</p>
        </div>
        <div v-show="!ison">
            <p>页面2</p>
        </div>
    </div>
</template>

<script>
import {API} from '../../api/config.js'
export default {
    name:'MyDingDan',
    
    data(){
        return {
            ison:true

        }
    },

    methods:{
        goBack(){
            this.$router.push('/MyMac/My')
        },
        _loginway(){
	 	   this.ison==true?this.ison=false:this.ison=true;
	 	}
    }
}
</script>

<style>
.DingdanInfo-Header{
text-align: center;
overflow: hidden;
width: 100%;
padding: 0.5rem 0.3rem;
position: fixed;
top: 0;
left: 0;
z-index: 100;
background: #fff
}
.DingdanInfo-icon1{
    width: 0.2rem;
    height: 0.4rem;
    float: left;
}
.Dingdan-title{
    font-size: 18px;
    color: #101012;
}
span.on{ color: #06c1ae; border-bottom:2px solid #06c1ae}
</style>
