<template>

    <div style="padding-top:1.6rem;height:100%">
        <div class="DingdanInfo-Header">
            <!-- <img @click="goBack" src="../../assets/icon-back.png" class="MyPlaceicon1"> -->
            <div style="width:0.5rem;height:0.5rem;float:left;margin-right: 2.54rem;" @click="goBack">
                <img  src="../../assets/icon-back.png" class="MyPlaceicon1">
            </div>
            <span class="MyPlacetitle">账户信息</span>
        </div>
        <div class="Content">
            <div class="MyInfor" @click="changeTouxiang">
                <span class="MyThreeName MyThreeNames">头像</span>
                <img src="../../assets/icon-more3.png" class="LingpeijianMore LingpeijianMore1" style="margin-top: 0.3rem;">
                <img :src="MyInfo.avatar_url" v-if="MyInfo.avatar_url" class="MyinforTx">
                <img src="../../assets/221543839474_.pic.jpg" v-if="!MyInfo.avatar_url" class="MyinforTx">
            </div>
            <div class="MyInfor MyInfor1" @click="gotoChangeName">
                <span class="MyThreeName MyThreeNames">用户名</span>
                <img src="../../assets/icon-more3.png" class="LingpeijianMore">
                <span class="MyInforRight">{{MyInfo.name}}</span>
            </div>
            <div class="MyInfor MyInfor1">
                <span class="MyThreeName MyThreeNames">职位/工种</span>
                <!-- <img src="../../assets/icon-more3.png" class="LingpeijianMore"> -->
                <span class="MyInforRight">{{MyInfo.position}}</span>
            </div>
            <!-- <div class="MyInfor MyInfor1">
=======
    <div style="padding-top:1.6rem">
        <div class="DingdanInfo-Header">
            <img @click="goBack" src="../../assets/icon-back.png" class="MyPlaceicon1">
            <span class="MyPlacetitle">账户信息</span>
        </div>
        <div class="Content">
            <div class="MyInfor">
                <span class="MyThreeName">头像</span>
                <img src="../../assets/icon-more3.png" class="LingpeijianMore LingpeijianMore1">
                <img src="../../assets/icon-tx.png" class="MyinforTx">
                
            </div>
            <div class="MyInfor MyInfor1" @click="gotoChangeName">
                <span class="MyThreeName">用户名</span>
                <img src="../../assets/icon-more3.png" class="LingpeijianMore">
                <span class="MyInforRight">罗低</span>
            </div>
            <div class="MyInfor MyInfor1">
                <span class="MyThreeName">职位/工种</span>
                <img src="../../assets/icon-more3.png" class="LingpeijianMore">
                <span class="MyInforRight">技术工</span>
            </div>
            <div class="MyInfor MyInfor1">
                <span class="MyThreeName">生日</span>
                <img src="../../assets/icon-more3.png" class="LingpeijianMore">
                <span class="MyInforRight">
                   1990-08-25
                </span>
            </div> -->
            
            <div class="MyInfor MyInfor1" @click="showCont">
                <span class="MyThreeName MyThreeNames">性别</span>
                <img src="../../assets/icon-more3.png" class="LingpeijianMore">
                <span class="MyInforRight" id="MyInforRight">{{SEX}}</span>
            </div>
            <div class="MyInfor MyInfor1" @click="gotoMyPhone">
                <span class="MyThreeName MyThreeNames">电话</span>
                <img src="../../assets/icon-more3.png" class="LingpeijianMore">
                <span class="MyInforRight">{{MyInfo.tel}}</span>
            </div>
            
            <div class="MyInfor MyInfor1">
                <span class="MyThreeName">性别</span>
                <img src="../../assets/icon-more3.png" class="LingpeijianMore">
                <span class="MyInforRight" @click="showCont" >男</span>
            </div>
            <div class="MyInfor MyInfor1" @click="gotoMyPhone">
                <span class="MyThreeName">电话</span>
                <img src="../../assets/icon-more3.png" class="LingpeijianMore">
                <span class="MyInforRight">132****5686</span>
            </div>
        </div>
        <div class="PhotoViewBox" v-if="hidden">
            <div class="PhotoViewCenter">

                <p class="PhotoViewOne" @click="changeSexMan">男</p>
                <p class="PhotoViewOne" @click="changeSexWomen">女</p> 
                <p class="PhotoViewClose" @click="NoChange">保密</p>
                <p class="PhotoViewOne" >男</p>
                <p class="PhotoViewOne">女</p> 
               <p class="PhotoViewClose">取消</p>
            </div>
        </div>
       
    </div>
    
</template>

<script>
import {API} from '../../api/config.js';

import Toast from 'muse-ui-toast';


export default {
    name:'MyInformation',

    data(){
        return {
            hidden:false,
            SEX:'男',
            MyInfo:{},
            MineTouxiang:'',
            ImgKey:'',
            ImgUrl:''
        }
    },
    created(){
        this.getMyInformation()
    },
    methods:{
        changeTouxiang(e){
            var that = this;
            navigator.camera.getPicture(onSuccess, onFail, {
                quality: 50,
                sourceType : Camera.PictureSourceType.PHOTOLIBRARY,
                mediaType: Camera.MediaType.PICTURE,
                destinationType: Camera.DestinationType.DATA_URL
            });
            function onSuccess(imageData) {
                var file = that.dataURLtoFile('data:image/jpeg;base64,' + imageData, 'img');
                var formData = new FormData()
                formData.append("file", file)
                that.$axios.post(API+'/api/v1/common/upload_file',formData,{
                    headers: {
                        'Content-Type': 'multipart/form-data'
                    }
                }).then((response)=>{
                    localStorage.setItem('MineTouxiang',JSON.stringify(response.data.url))
                    that.ImgKey = response.data.key
                    that.ImgUrl = response.data.url
                    that.$axios.post(API+'/api/v1/w/set_profile',{
                        "avatar_key":that.ImgKey
                    },{
                        headers:{
                            'Authorization':JSON.parse(localStorage.getItem('userInfo'))
                        }
                    }).then((res)=>{
                        console.log(res)
                        if(res.data.code == 0){
                            console.log(that.ImgUrl)
                            that.MineTouxiang = that.ImgUrl
                        }else{
                            // alert(res.data.msg)
                            Toast.config({
                                position:'top',
                                time: 1000,
                                close:false,
                            })
                            Toast.error(res.data.msg);
                        }
                    }).catch(error=>{
                        console.log(error)
                    })
                }).catch((error)=>{
                    console.log(error)
                    // alert(error)
                    // alert('上传失败，请检查网络')
                    Toast.config({
                        position:'top',
                        time: 1000,
                        close:false,
                    })
                    Toast.error('上传失败,请检查网络设置');
                })
            }
            function onFail(message) {}
            return false
        },
        dataURLtoFile(dataurl, filename) {
            var arr = dataurl.split(',')
            var mime = arr[0].match(/:(.*?);/)[1]
            var bstr = window.atob(arr[1])
            var n = bstr.length
            var u8arr = new Uint8Array(n)
            while (n--) {
            u8arr[n] = bstr.charCodeAt(n)
            }
            var blob = new Blob([u8arr], {
            type: mime
            })
            blob.lastModifiedDate = new Date()
            blob.name = filename
            return blob
        },
        goBack(){
            this.$router.push('/MyMac/My')
        },
       gotoChangeName(){
            this.$router.push('/ChangeName/')
        },
        gotoMyPhone(){
            this.$router.push('/MyPhone/')
        },
        showCont:function(){
            this.hidden = !this.hidden;
        },
        changeSexMan(){
            this.$axios.post(API+'/api/v1/w/set_profile',{
                "gender":'male' 
            },{
                headers:{
                    'Authorization':JSON.parse(localStorage.getItem('userInfo'))
                }
            }).then((response)=>{
                if(response.data.code == 0){
                    // alert('修改成功')
                    Toast.config({
                        position:'top',
                        time: 1000,
                        close:false,
                    })
                    Toast.success('修改成功');
                    this.SEX = '男'
                    this.hidden = !this.hidden;
                }else{
                    // alert('修改失败')
                    Toast.config({
                        position:'top',
                        time: 1000,
                        close:false,
                    })
                    Toast.error('修改失败');
                    this.hidden = !this.hidden;
                }
            })
        },
        changeSexWomen(){
            this.SEX = '女'
            this.hidden = !this.hidden;
            this.$axios.post(API+'/api/v1/w/set_profile',{
                "gender":'female' 
            },{
                headers:{
                    'Authorization':JSON.parse(localStorage.getItem('userInfo'))
                }
            }).then((response)=>{
                if(response.data.code == 0){
                    // alert('修改成功')
                    Toast.config({
                        position:'top',
                        time: 1000,
                        close:false,
                    })
                    Toast.success('修改成功');
                    this.SEX = '女'
                    this.hidden = false;
                }else{
                    // alert('修改失败')
                    Toast.config({
                        position:'top',
                        time: 1000,
                        close:false,
                    })
                    Toast.error('修改失败');
                    this.hidden = false;
                }
            })
        },
        NoChange(){
            this.$axios.post(API+'/api/v1/w/set_profile',{
                "gender":'secret' 
            },{
                headers:{
                    'Authorization':JSON.parse(localStorage.getItem('userInfo'))
                }
            }).then((response)=>{
                if(response.data.code == 0){
                    // alert('修改成功')
                    Toast.config({
                        position:'top',
                        time: 1000,
                        close:false,
                    })
                    Toast.success('修改成功');
                    this.SEX = '保密'
                    this.hidden = !this.hidden;
                }else{
                    // alert('修改失败')
                    Toast.config({
                        position:'top',
                        time: 1000,
                        close:false,
                    })
                    Toast.error('修改失败');
                    this.hidden = !this.hidden;
                }
            })
        },
        getMyInformation(){
            this.$axios.get(API+'/api/v1/w/profile',{
                headers:{
                    'Authorization':JSON.parse(localStorage.getItem('userInfo'))
                }
            }).then((response)=>{
                this.MyInfo = response.data.data
                this.SEX = this.MyInfo.gender_name
                console.log(this.MyInfo)
            })
        }
    },


}
</script>

<style>

.DingdanInfo-Header{
text-align: center;
overflow: hidden;
width: 100%;
padding: 0.3rem;
box-shadow: 1px 1px 15px rgba(34,24,21,0.08);
position: fixed;
top: 0;
left: 0;
z-index: 100;
background: #fff
}

.MyPlaceicon1{
    width: 0.2rem;
    height: 0.4rem;
    float: left;
    margin-right: 2.54rem
}
.MyPlacetitle{
    font-size: 18px;
    color: #101012;
    float: left;
}
.MyPlaceIcon1{
    width: 0.4rem;
    height: 0.4rem;
    float: right;
    margin-top: 0.1rem
}
.Content{
    width: 100%;
    padding: 0 0.3rem;
}
.MyInfor{
    /* width: 100%; */
    padding: 0.2rem 0.2rem;
    box-shadow:1px 1px 15px rgba(34,24,21,0.08);
    overflow: hidden;
    margin-top: 0.3rem;
    border-radius: 0.1rem;
    line-height: 0.8rem;
    font-size: 14px;
}
.MyInfor1{
    padding: 0.3rem 0.2rem;
    line-height: 0.4rem;
}
.MyinforTx{
    width: 0.8rem;
    height: 0.8rem;
    float: right;
    border-radius: 50%;
}
.MyThreeName{
    color: #666;
    float: left;
}
.MyThreeIcon{
    width: 0.4rem;
    height: 0.4rem;
    float: left;
    margin-right: 0.3rem
}

.MyInforRight{
    float: right;
}
.LingpeijianMore{
    width: 0.24rem;
    height: 0.24rem;
    float: right;
    margin-top: 0.08rem;
    margin-left: 0.2rem;
}
.LingpeijianMore1{
    margin-top: 0.3rem;
}
.PhotoViewBox{
    height: 100%;
    width: 100%;
    position: fixed;
    background: RGBA(0, 0, 0, 0.3);
    z-index: 400;
    top: 0
}
.PhotoViewCenter{
    width: 100%;
    position: fixed;
    bottom: 0;
    /* left: 5%; */
    background: #fff;
    text-align: center
}
.PhotoViewOne{
    font-size: 16px;
    font-weight: 400;
    padding: 0.2rem 0;
    color: #101012;
    border-bottom: 1px solid #F1F1F1
}
.PhotoViewClose{
    color: #999999;
    font-size: 16px;
    font-weight: 400;
    padding: 0.2rem 0
}
.active{
    color:#FF6464;
}
.MyInforRight{
    color: #101012;
}
.MyThreeNames{
    color: #666
}
</style>
