<template>
    <div style="position:relative;padding-top:1.4rem;padding-bottom:1rem;height:100%">
        <div class="DingdanInfo-Header">
            <div style="width:0.5rem;height:0.5rem;float:left" @click="goBack">
                <img  src="../../assets/icon-back.png" class="DingdanInfo-icon1">
            </div>
            <span class="Dingdan-title">订单-{{DingdanTypeName}}</span>
        </div>
        <mu-container ref="container" v-if="AllOrderList.length > 0">
            <mu-load-more @refresh="refresh" :refreshing="refreshing" :loading="loading" @load="load">
            <div class="All-Box" @click="gotoDingdanInfo(index)" v-for="(item,index) in AllOrderList" :key="index" v-if="item.type !== 'buy' && AllOrderList.length>0">
                <div class="All-Header">
                        <img src="../../assets/icon-equip.png" class="All-icon1">
                        <span class="All-Header-Name">{{item.product_name}}</span>
                        <span class="All-Header-type">{{item.type_name}}</span>
                    </div>
                    <div class="All-Center">
                        <p class="All-Center-product">{{item.remark}}</p>
                        <div class="All-Center-Foot">
                            <div class="all-Center-Left">
                                <img src="../../assets/icon-notes-1.png" class="All-icon2">
                                <span class="All-Center-right">{{item.model}}</span>
                            </div>
                            <div class="all-Center-Left">
                                <img src="../../assets/icon-notes-2.png" class="All-icon2">
                                <span class="All-Center-right">{{item.pic_count}}</span>
                            </div>
                            <div class="all-Center-Left">
                                <img src="../../assets/icon-notes-3.png" class="All-icon2">
                                <span class="All-Center-right">{{item.vid_count}}</span>
                            </div>
                            <span class="All-Foot-four" :class="StateNameClass(index)">{{item.state_name}}</span>
                        </div>
                    </div>
                    <div class="All-Foot" >
                        <div style="float:left;width:100%" v-if="!item.has_comment">
                            <span class="All-Foot-one">{{item.company_name}}：</span>
                            <span class="All-Foot-three">{{item.tel}}</span>
                            <span class="All-Foot-two">{{item.contact}}</span>
                        </div>
                        <div v-if="item.has_comment" style="float:left">
                            <span class="All-Foot-three">客户评价: 
                                <div style="float:right;margin-left:0.1rem" class="Starts" >
                                    <span v-for="(item,index) in item.rate" :key='index' :class="isRating(index)" :data-index="index"></span>
                                </div>
                            </span>
                        </div>
                    </div>
                </div>
            </mu-load-more>
        </mu-container>

        <div v-if="AllOrderList.length == 0">
            <img src="../../assets/icon-blank-order.png" class="WithoutPhoto">
            <p class="WithoutDingdan">暂无订单发布</p>
        </div>
    </div>
</template>

<script>
import {API} from '../../api/config.js'
import {mapGetters} from 'vuex'
export default {
    name:'All',
    data(){
        return {
            id:'',
            AllOrderList:[],
            type:'',
            refreshing: false,
            loading: false,
            page:1,
            DingdanTypeName:'',
            MacDeletOpen:false,
            MacID:''
        }
    },
    computed:{
        ...mapGetters(['DingdanType'])
    },
    watch:{
        DingdanType(n,o){
            // console.log(n)
            this.getAllOrders()
        }
    },
    created(){
        this.getAllOrders()
        this.DingdanTypeName = JSON.parse(sessionStorage.getItem('DingdanTypeName'))
    },
    methods:{
        goBack(){
            this.$router.go(-1)
        },
        changeDeletPopup(Props){
            console.log(Props)
            this.MacDeletOpen = Props
            this.getAllOrders()
            this.move()
        },
        refresh () {
            this.refreshing = true;
            this.$refs.container.scrollTop = 0;
            setTimeout(() => {
                this.refreshing = false;
                this.$axios.get(API+'/api/v1/w/orders',{params:{
                        "page": 1,
                        "per": 10,
                        "state": JSON.parse(sessionStorage.getItem("DingdanType"))
                    }},{
                        headers:{
                            'Authorization':JSON.parse(localStorage.getItem('userInfo'))
                        }
                    }).then((response)=>{
                        if(response.data.code == 0){
                            this.AllOrderList=response.data.data
                        }
                    })
            }, 1000)
        },
        load () {
            this.loading = true;
            setTimeout(() => {
                this.loading = false;
                this.$axios.get(API+'/api/v1/w/orders',{params:{
                        "page": this.page,
                        "per": 10,
                        "state": JSON.parse(sessionStorage.getItem("DingdanType"))
                    }},{
                        headers:{
                            'Authorization':JSON.parse(localStorage.getItem('userInfo'))
                        }
                    }).then((response)=>{
                        console.log(response)
                        if(response.data.count>0){
                            this.page = this.page + 1
                            response.data.data.map(item=>{
                                this.AllOrderList.push(item)
                            })
                        }
                        console.log(this.AllOrderList)
                    })
            }, 2000)
            },
        isRating(index){
            ++index
            return index <= this.rating ? 'star-item star-active' : 'star-item'
        },
        //前往订单页
        gotoDingdanInfo(value){
            if(this.AllOrderList[value].state !== 'finished'){
                var ID = this.AllOrderList[value].id
                this.$router.push('/DingdanInfo/'+ID)
            } else {
                var ID = this.AllOrderList[value].id
                this.$router.push('/DingdanPingjia/'+ID)
            }
        },
        gotoLingpeijianDingdanInfo(value){
             var ID = this.AllOrderList[value].id
                this.$router.push('/LingpeijianDingdanInfo/'+ID)
            // if(this.AllOrderList[value].state !== 'finished'){
            //     var ID = this.AllOrderList[value].id
            //     this.$router.push('/LingpeijianDingdanInfo/'+ID)
            // } else {
            //     var ID = this.AllOrderList[value].id
            //     this.$router.push('/DingdanPingjia/'+ID)
            // }
        },
        //获取所以订单
        getAllOrders(){
            if(JSON.parse(localStorage.getItem('userInfo')) == ''){
                sessionStorage.setItem("DingdanType",JSON.stringify('all'))
            }
            console.log(JSON.parse(sessionStorage.getItem("DingdanType")))
            this.$axios.get(API+'/api/v1/w/orders',{params:{
                "page": 1,
                "per": 10,
                "state": JSON.parse(sessionStorage.getItem("DingdanType"))
            }},{
                headers:{
                    'Authorization':JSON.parse(localStorage.getItem('userInfo'))
                }
            }).then((response)=>{
                this.AllOrderList = response.data.data
                this.page = this.page +1
                console.log(response)
            })
        },
        StateNameClass(value){
            if(this.AllOrderList[value].state == 'pending'){
                return 'ONE'
            }else if(this.AllOrderList[value].state == 'finished'){
                return 'THREE'
            } else{
                return 'TWO'
            }
        }
    }
}
</script>
<style>
.DingdanInfo-Header{
text-align: center;
overflow: hidden;
width: 100%;
padding: 0.3rem 0.3rem;
position: fixed;
top: 0;
left: 0;
z-index: 100;
box-shadow: 1px 1px 15px rgba(34,24,21,0.08);
background: #fff
}
.DingdanInfo-icon1{
    width: 0.2rem;
    height: 0.4rem;
    float: left;
}
.Dingdan-title{
    color: #101012;
    font-size: 18px;
    font-weight: bold;
}
.DingdanInfo-icon2{
    width: 0.4rem;
    height: 0.4rem;
    float: right;
}
.All-Box{
    margin: 0 0.3rem;
    box-shadow:1px 1px 15px rgba(34,24,21,0.08); 
    padding-bottom: 0.3rem;
    margin-bottom: 0.3rem;
    margin-top: 0.1rem;
}
.All-Header{
    padding: 0.1rem 0.2rem;
    border-bottom: 1px solid #F1F1F1;
    overflow: hidden
}
.All-icon1{
    width: 0.3rem;
    height: 0.3rem;
    margin-right: 0.2rem;
    float: left;
    margin-top: 0.18rem
}
.All-Header-Name{
    color: #101012;
    font-size: 15px;
    line-height: 0.7rem;
    font-weight: bolder
}
.All-Header-type{
    color: #101012;
    line-height: 0.7rem;
    font-size: 12px;
    float: right;
}
.All-Center{
padding: 0.2rem
}
.All-Center-product{
    color: #101012;
    font-size: 12px;
    line-height: 0.4rem
}
.All-Center-Foot{
    overflow: hidden;
    margin-top: 0.3rem;
    padding-bottom: 0.2rem;
    border-bottom: 1px solid #f1f1f1;
    margin-bottom: 0.1rem
}
.all-Center-Left{
    float: left;
    margin-right: 0.3rem;
    line-height: 0.35rem;
    color: #CCCCCC;
    font-size: 11px;
    overflow: hidden;
}
.All-icon2{
    width: 0.24rem;
    height: 0.24rem;
    margin-right: 0.1rem;
    float: left;
}
.All-Foot{
    overflow: hidden;
    /* padding: 0rem 0.2rem; */
    border-bottom: 1px solid #f1f1f1;
    padding-bottom: 0.2rem;
    margin: 0 0.2rem;
}
.All-Foot-one{
color: #999;
font-size: 12px
}
.All-Foot-two{
color: #666666;
font-size: 12px
}
.All-Foot-three{
color: #666666;
font-size: 12px
}
.All-Foot-four{
    float: right;
    color: #E95555;
    font-size: 12px
}
.All-icon2{
    width: 0.3rem;
    height: 0.3rem;
}
.ONE{
    color: #E95555
}
.TWO{
    color: #85C93B
}
.THREE{
    color: #CCCCCC
}
.WithoutDingdan{
    text-align: center;
    font-size: 16px;
    color: #BBBBBB;
    /* font-weight: bold; */
    margin-top: 0.6rem;
}
.WithoutPhoto{
    width: 80%;
    margin-left: 10%;
    margin-top: 10%;
}
.container{
    padding: 0
}
.All-Foots{
    overflow: hidden;
    padding: 0rem 0.2rem;
    /* margin: 0 0.2rem; */
    margin: 0 0 0 0.2rem;
    padding-left: 0
}
.cancellOrder{
    float: right;
    color: #999999;
    padding: 0.1rem 0.3rem;
    background: #F1F1F1;
    border-radius: 0.26rem;
    margin-top: 0.2rem;
    font-size: 12px;
}
</style>
