<template>
    <div style="padding-top:1.6rem">
        <div class="DingdanInfo-Header">
            <!-- <img @click="goBack" src="../../assets/icon-back.png" class="DingdanInfo-icon1"> -->
            <div style="width:0.5rem;height:0.5rem;float:left" @click="goBack">
                <img  src="../../assets/icon-back.png" class="DingdanInfo-icon1">
            </div>
            <span class="Dingdan-title">我的评论</span>
        </div>
        <div class="MyPinglunCenter" v-for="(item,index) in AllComments" :key="index">
            <div class="MyAboutMacInfoCenterHeader">
                <img src="../../assets/icon-notes-time.png" class="MyAboutMacInfoIcon1">
                <span class="MyAboutMacInfoCenterTime">{{item.date}}</span>
                <div style="float:right;" class="Starts" >
                    <span v-for="(item,index) in item.rate" :key='index' :class="isRating(index)" :data-index="index"></span>
                </div>
            </div>
            <div class="MyPinglunCenterBody">
                <p class="MyPinglunCenterProduc">{{item.body}}</p>
                <div class="MyPinglunCenterBodyBox">
                    <p class="MyPinglunCenterName">{{item.product_name}}</p>
                    <p class="MyPinglunCenterType">{{item.order_type_name}}</p>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import {API} from '../../api/config.js'
export default {
    name:'MyPinglun',
    data(){
        return {
            AllComments:[],
            starNum:3,
        }
    },
    created(){
        this.getAllComments()
    },
    methods:{
        isRating(index){
            ++index
            return index <= this.rating ? 'star-item star-active' : 'star-item'
        },
        goBack(){
            this.$router.go(-1)
        },
        //获取所有评论
        getAllComments(){
            this.$axios.get(API+'/api/v1/i/comments',{
                headers:{
                    'Authorization':JSON.parse(localStorage.getItem('userInfo'))
                }
            }).then((response)=>{
                this.AllComments = response.data.data
            })
        }
    }
}
</script>

<style>
.DingdanInfo-Header{
text-align: center;
overflow: hidden;
width: 100%;
padding: 0.3rem;
box-shadow: 1px 1px 15px rgba(34,24,21,0.08);
position: fixed;
top: 0;
left: 0;
z-index: 100;
background: #fff
}
.DingdanInfo-icon1{
    width: 0.2rem;
    height: 0.4rem;
    float: left;
}
.Dingdan-title{
    font-size: 18px;
    color: #101012;
}
.Starts{
    display: flex;
    align-items: center;
    justify-content: center
}
.star-item{
    width: 0.3rem;
    height: 0.3rem;
    margin-right: 0.12rem;
    background: no-repeat;
    display: inline-block;
    background: url('../../assets/icon-star-on.png');
    background-size:100% 100%;
}
.star-active{
    background: url('../../assets/icon-star-on.png');
    background-size:100% 100%;
}
.MyAboutMacInfoCenterHeader{
    overflow: hidden;
    margin-bottom: 0.2rem
}
.MyAboutMacInfoIcon1{
    width: 0.24rem;
    height: 0.24rem;
    float: left;
    margin-right: 0.2rem;
    margin-top: 0.04rem
}
.MyAboutMacInfoCenterTime{
    color: #101012;
    font-weight: bold;
    font-size: 12px;
    float: left;
    margin-right: 0.3rem
}
.MyPinglunCenter{
    margin: 0 0.3rem;
    padding-bottom: 0.4rem;
    border-bottom: #F1F1F1 1px solid;
    margin-bottom: 0.4rem
}
.MyPinglunCenterBody{
    margin-left: 0.4rem;
}
.MyPinglunCenterProduc{
    color: #101012;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 0.3rem 
}
.MyPinglunCenterBodyBox{
    background: #F1F1F1;
    padding-left:0.2rem;
    padding-top: 0.3rem ;
    padding-bottom: 0.2rem;
}
.MyPinglunCenterName{
    color: #101012;
    font-size: 14px;
    font-weight: bold;
}
.MyPinglunCenterType{
    color: #999999;
    font-size: 14px;
    font-weight: bold
}
</style>
