<template>
    <div style="height:100%">
        <div class="MyWorkHeader">
            <img @click="goBack" class="DingdanInfo-icon1" src="../../assets/icon-back1.png">
            <span class="MyWorkTitle" :class="{ MyWorkOn: ison}" @click="_loginway()">本月排行</span>
            <span class="MyWorkTitle" :class="{ MyWorkOn: !ison}" @click="_loginway()">总排行</span>
        </div>
        <!-- 本月排行 -->
        <div class="MyWorkTop" v-show="ison">
            <div class="MyWorkimg">
                <div class="MyWorkimg1" v-for="(item,index) in MotWorkKings " :key="index" v-if="index == 1">
                    <div class="MyWorkimgimg"><img src="../../assets/icon-tx.png"></div>
                    <p>{{item.staff_name}}</p >
                    <span>本月成果 {{item.finished_order_count}}</span>
                    <i><img src="../../assets/icon-pai2.png"></i>
                </div> 
                <div class="MyWorkimg1 MyWorkimg2" v-for="(item,index) in MotWorkKings " :key="index" v-if="index == 0">
                    <div class="MyWorkimgimg"><img src="../../assets/icon-tx.png"></div>
                    <p>{{item.staff_name}}</p >
                    <span>本月成果 {{item.finished_order_count}}</span>
                    <i><img src="../../assets/icon-pai1.png"></i>
                </div>  
                <div class="MyWorkimg1" v-for="(item,index) in MotWorkKings " :key="index" v-if="index == 2">
                    <div class="MyWorkimgimg"><img src="../../assets/icon-tx.png"></div>
                    <p>{{item.staff_name}}</p >
                    <span>本月成果 {{item.finished_order_count}}</span>
                    <i><img src="../../assets/icon-pai3.png"></i>
                </div>    
            </div>
            <div class="MyWorkmy" v-for="(item,index) in MotWorkKings " :key="index" v-if="item.me">
                <div class="MyWorkmyleft"><img src="../../assets/icon-tx.png"></div>
                <div class="MyWorkmycenter">
                    <p>{{item.staff_name}}</p >
                    <span>本月成果 {{item.finished_order_count}}</span>
                </div>
                <div class="MyWorkmyright">{{item.rank}}</div>
            </div>
            <div class="MyWorkmy" v-for="(item,index) in MotWorkKing " :key="index" v-if="item.me">
                <div class="MyWorkmyleft"><img src="../../assets/icon-tx.png"></div>
                <div class="MyWorkmycenter">
                    <p>{{item.staff_name}}</p >
                    <span>本月成果 {{item.finished_order_count}}</span>
                </div>
                <div class="MyWorkmyright">{{item.rank}}</div>
            </div>
            <div style="height:0.3rem;background:#f1f1f1"></div>
            <div class="MyWorkBottom">
                <div class="MyWorkBottomlist" v-for="(item,index) in MotWorkKing" :key="index">
                    <div class="MyWorkmyleft"><img src="../../assets/icon-tx.png"></div>
                    <div class="MyWorkmycenter">
                        <p>{{item.staff_name}}</p >
                        <span>本月成果 {{item.finished_order_count}}</span>
                    </div>
                    <div class="MyWorkmyright">{{item.rank}}</div>
                </div>
            </div>
        </div>
        <!-- 总排行 -->
        <div class="MyWorkTop" v-show="!ison">
            <div class="MyWorkimg">
                <div class="MyWorkimg1" v-for="(item,index) in AllWorkKings " :key="index" v-if="index == 1">
                    <div class="MyWorkimgimg"><img src="../../assets/icon-tx.png"></div>
                    <p>{{item.staff_name}}</p >
                    <span>年度成果 {{item.finished_order_count}}</span>
                    <i><img src="../../assets/icon-pai2.png"></i>
                </div> 
                <div class="MyWorkimg1 MyWorkimg2" v-for="(item,index) in AllWorkKings " :key="index" v-if="index == 0">
                    <div class="MyWorkimgimg"><img src="../../assets/icon-tx.png"></div>
                    <p>{{item.staff_name}}</p >
                    <span>年度成果 {{item.finished_order_count}}</span>
                    <i><img src="../../assets/icon-pai1.png"></i>
                </div>  
                <div class="MyWorkimg1" v-for="(item,index) in AllWorkKings " :key="index" v-if="index == 2">
                    <div class="MyWorkimgimg"><img src="../../assets/icon-tx.png"></div>
                    <p>{{item.staff_name}}</p >
                    <span>年度成果 {{item.finished_order_count}}</span>
                    <i><img src="../../assets/icon-pai3.png"></i>
                </div>    
            </div>
            <div class="MyWorkmy" v-for="(item,index) in AllWorkKings " :key="index" v-if="item.me">
                <div class="MyWorkmyleft"><img src="../../assets/icon-tx.png"></div>
                <div class="MyWorkmycenter">
                    <p>{{item.staff_name}}</p >
                    <span>年度成果 {{item.finished_order_count}}</span>
                </div>
                <div class="MyWorkmyright">{{item.rank}}</div>
            </div>
            <div class="MyWorkmy" v-for="(item,index) in AllWorkKing " :key="index" v-if="item.me">
                <div class="MyWorkmyleft"><img src="../../assets/icon-tx.png"></div>
                <div class="MyWorkmycenter">
                    <p>{{item.staff_name}}</p >
                    <span>年度成果 {{item.finished_order_count}}</span>
                </div>
                <div class="MyWorkmyright">{{item.rank}}</div>
            </div>
            <div style="height:0.3rem;background:#f1f1f1"></div>
            <div class="MyWorkBottom">
                <div class="MyWorkBottomlist" v-for="(item,index) in AllWorkKing" :key="index">
                    <div class="MyWorkmyleft"><img src="../../assets/icon-tx.png"></div>
                    <div class="MyWorkmycenter">
                        <p>{{item.staff_name}}</p >
                        <span>年度成果 {{item.finished_order_count}}</span>
                    </div>
                    <div class="MyWorkmyright">{{item.rank}}</div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import {API} from '../../api/config.js'
export default {
    name:'MyWorkResult',
    data(){
        return {
            ison:true,
            MotWorkKing:[],
            AllWorkKing:[],
            MotWorkKings:[],
            AllWorkKings:[],
        }
    },
    created(){
        this.getMotWorkKing()
        this.getAllWorkKing()
    },
    methods:{
        goBack(){
            this.$router.push('/MyMac/My')
        },
        _loginway(){
            this.ison==true?this.ison=false:this.ison=true;
        },
        getMotWorkKing(){
            this.$axios.get(API+'/api/v1/w/ranking',{
                params:{
                        "type":'month' 
                    }
            },{
                headers:{
                    'Authorization':JSON.parse(localStorage.getItem('userInfo'))
                }
            }).then((response)=>{
                console.log(response)
                if(response.data.code == 0){
                    this.MotWorkKing = response.data.data
                    if(this.MotWorkKing.length>3){
                        this.MotWorkKings = this.MotWorkKing.splice(0,3)
                        // this.MotWorkKing = response.data.data
                    }else{
                        this.MotWorkKings = this.MotWorkKing
                    }
                    console.log(this.MotWorkKing,this.MotWorkKings,response.data.data)
                }
            })
        },
        getAllWorkKing(){
            this.$axios.get(API+'/api/v1/w/ranking',{
                params:{
                        "type":'all' 
                    }
            },{
                headers:{
                    'Authorization':JSON.parse(localStorage.getItem('userInfo'))
                }
            }).then((response)=>{
                console.log(response)
                if(response.data.code == 0){
                    this.AllWorkKing = response.data.data
                    if(this.AllWorkKing.length>3){
                        this.AllWorkKings = this.AllWorkKing.splice(0,3)
                        // this.AllWorkKing = response.data.data
                    }else{
                        this.AllWorkKings = this.AllWorkKing
                    }
                }
            })
        },
    }
}
</script>

<style>
/* #app{
    height: auto;
} */


.MyWorkHeader{
    position: fixed;
    top: 0;
    width: 100%;
    padding:0.5rem 0.3rem;
    color: #fff;
    font-size: 18px;
    text-align: center;
    color: rgba(255,255,255,0.6);
    background:#F0AF53;
    z-index: 100;
}
.DingdanInfo-icon1{
    width: 0.2rem;
    height: 0.4rem;
    position: absolute;
    top: 0.5rem;
    left: 0.3rem;
}
.MyWorkTitle{
    padding: 0 0.4rem;
}
.MyWorkOn{
    color: #fff;
}
.DingdanInfo-icon1{
    width: 0.2rem;
    height: 0.4rem;
    float: left;
}
.Dingdan-title{
    font-size: 18px;
    color: #101012;
    font-weight: bold
}
.MyWorkTop{
    
    width: 100%;
    
    box-shadow: 1px 1px 15px rgba(34,24,21,0.08);
}
.MyWorkimg{
    text-align: center;
    padding-top: 2.2rem;
    background: linear-gradient(to bottom, #F0AF53 , #F2936D);
}
.MyWorkimg img, .MyWorkmyleft img{
    width: 100%;
}
.MyWorkimg1{
    border-radius: 0.1rem;
    background-color: #fff;
    padding: 0.6rem 0.15rem 0.15rem 0.15rem;
    margin: 0.11rem 0.03rem;
    display: inline-block;
    width: 2rem;
    position: relative;
   
}
.MyWorkimgimg{
    position:absolute;
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    display: inline-block;
    top: -0.4rem;
    left: 0.6rem;
     border: 0.1rem solid #fff;
    
}
.MyWorkimgimg img, .MyWorkmyleft img{
    border-radius: 50%;
}
.MyWorkimg1 p{
    font-size: 14px;
    color: #333;
    width: 100%;
    height: 0.4rem;
    overflow: hidden;
}
.MyWorkimg1 span{
    font-size: 12px;
    color: #999;
    display: block;
    margin-bottom: 0.3rem;
}
.MyWorkimg1 i{
    display: inline-block;
    width: 1rem;
    height: 0.9rem;
}
.MyWorkimg2 span{
    margin-bottom: 0.66rem;
}
.MyWorkmy{
    padding: 0.3rem;
    background-color: #fff;
    overflow: hidden;
}
.MyWorkmyleft {
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    float: left;
    margin-right: 0.3rem;
}
.MyWorkmycenter{
    float: left;
}
.MyWorkmycenter p{
    font-size:14px;
    color:#333;
    line-height: 0.4rem;
    display: block;
}
.MyWorkmycenter span{
    font-size:12px;
    color:#999;
     line-height: 0.4rem;
     display: block;
}
.MyWorkmyright{
    float: right;
    color: #333;
    font-size: 22px;
    line-height: 0.8rem;
}
.MyWorkBottom{
    padding: 0 0.3rem;
    background-color: #fff;
}
.MyWorkBottomlist{
    padding: 0.3rem 0;
    border-bottom: 1px solid #f1f1f1;
    overflow: hidden;
}
.MyWorkBottom .MyWorkBottomlist:last-child{
    border:0;
}
</style>
