<template>
  <div class="hello" style="height:100%">
    <!-- <button @click="ALERT">照相</button>
    <img id="myImage"> -->
    <div style="font-size:22px">输入手机号，完成登陆验证吧！</div>
    <div style="font-size:22px">点击发送验证码</div>
    <div>
      <span>手机号码</span>
      <input type="num" >
    </div>
  </div>
</template>

<script>
export default {
  name: 'HelloWorld',
  data () {
    return {}
  },
  created(){

  },
  methods:{
    // ALERT(){
    //   navigator.camera.getPicture(onSuccess, onFail, {
    //       quality: 100,
    //       codingType: Camera.EncodingType.JPEG,
    //       mediaType: Camera.MediaType.PICTURE,
    //       correctOrientation: true,
    //       destinationType: Camera.DestinationType.DATA_URL
    //     });

    //   function onSuccess(imageData){
    //     alert("拍照成功")
    //     // var file = that.dataURLtoFile('data:image/jpeg;base64,' + imageData, Date.now().toString(36) + '.jpeg');
    //     // that.createImage(file);
    //     var image = document.getElementById('myImage')
    //     image.src = "data:image/jpeg;base64,"+imageData
    //   }

    //   function onFail(message){
    //     alert("调用失败")
    //   }
    //   return false
    // },
    // createImage(file){
    //   console.log("调用成功")
    // }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
.buTTon {
  width: 1rem
}
</style>
