<template>
    <div style="position:relative">
        <div class="Popup" v-if="!PopBoole">
            <span class="Popup-p">FM160软管高速灌装封口机</span>
            <span class="Popup-p">JD120半自动裹包机</span>
            <span class="Popup-button" @click="gotoWriter">添加设备</span>
        </div>
        <div class="DingdanInfo-Header">
            <img class="DingdanInfo-icon3 MacInfoIcon3" src="../assets/icon-nav-switch.png" @click="OpenPop" v-if="PopBoole">
            <img class="DingdanInfo-icon3 MacInfoIcon3" src="../assets/icon-nav-switch-on.png" @click="OpenPop" v-if="!PopBoole">
            <span class="Dingdan-title">{{this.MAC.name}}</span>
        </div>
        <div class="BaoZhen">
            <span class="zhenduan" @click="gotoMacZhen">诊断手册</span>
            <span class="zhenduan baoyang" @click="gotoMacBao">保养记录</span>
        </div>

        <div class="container">
            <div v-for="(obj,ind) in progerssList" :key="ind">
                <circle-progress :list='obj.progress' :jindu='obj.jindu'></circle-progress>
            </div>
        </div>

        <div class="NUM">
            <div class="NUMS">
                <p class="NUMname">累计保养</p>
                <span class="NUMnum">17</span>
                <span>次</span>
            </div>
            <div class="NUMS">
                <p class="NUMname">配件更换</p>
                <span class="NUMnum">9</span>
                <span>次</span>
            </div>
            <div class="NUMS">
                <p class="NUMname">累计求助</p>
                <span class="NUMnum">8</span>
                <span>次</span>
            </div>
        </div>
        <div style="padding-bottom:1.2rem">
            <div class="check" ref="check" v-for="(item,index) in baoYangSteps" :key="index">
                <div class="checks" >
                    <span class="checkName">{{item.title}}</span>
                    <span class="checkchange" >待检测</span>
                    <span class="checkNum checkNums">{{index+1}}/{{baoYangSteps.length}}</span>
                </div>
                <div class="Good" >
                    <span class="zheng" @click="Change(index)">{{item.options[0].name}}</span>
                    <span class="nzheng" @click="Changes(index)">{{item.options[1].name}}</span>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import {API} from '../api/config.js'
import circleProgress from '../common/circleProgress'
import {mapGetters} from 'vuex'
export default {
    name:"MacInfo",
    computed:{
        ...(mapGetters(['companyInfo']))
    },
    components:{
        'circle-progress': circleProgress
    },
    data(){
        return {
            PopBoole:'false',
             progerssList:[
                {"progress":30,"jindu":'30'},
            ],
            MAC:{},
            product_id:'',
            baoYangSteps:[]
        }
    },
    created(){
        this.getAllMac()
    },
    mounted(){
       
    },
    methods:{
        Change(value){
            console.log(this.$refs.check)
        },
        gotoMacZhen(){
            this.$router.push('/MacZhenduan')
        },
        gotoMacBao(){
            this.$router.push('/MacBaoyang')
        },
        OpenPop(){
            this.PopBoole = !this.PopBoole
            console.log(this.PopBoole)
        },
        gotoWriter(){
            this.$router.push('/WriterMac/:')
        },
        getAllMac(){
            this.$axios.get(API+'/api/v1/common/products',{
                headers:{
                    'Authorization':JSON.parse(localStorage.getItem('userInfo'))
                }
            }).then((response)=>{
                if(this.companyInfo.product_id !== ''){
                    this.MAC= response.data.data[this.companyInfo.product_id-1]
                    this.product_id = this.companyInfo.product_id
                }else{
                    console.log(JSON.parse(localStorage.getItem('COMPANYINFO')))
                    this.product_id = JSON.parse(localStorage.getItem('COMPANYINFO')).product_id
                    this.MAC= response.data.data[this.product_id-1]
                }
                this.getMacAllInfo()
            })
        },
        //获取设备保养步骤
        getMacAllInfo(){
            console.log(this.product_id)
            this.$axios.get(API+'/api/v1/i/product_info',{
                params:{"product_id": this.product_id}
            },{
                headers:{'Authorization':JSON.parse(localStorage.getItem('userInfo'))}
            }).then((response) => {
                console.log(response)
                this.baoYangSteps = response.data.data.inspects.steps
            })
        }
    }
}
</script>

<style>
.DingdanInfo-Header{
text-align: center;
overflow: hidden;
width: 100%;
padding: 0.3rem;
box-shadow: 1px 1px 15px rgba(34,24,21,0.08);
position: fixed;
top: 0;
left: 0;
z-index: 100;
background: #fff
}
.MacInfoIcon3{
    margin-top: 0.1rem
}
.DingdanInfo-icon3{
    width: 0.31rem;
    height: 0.21rem;
    float: left;
}
.Dingdan-title{
    font-size: 18px;
    color: #101012;
    font-weight: bold
}
.Popup{
    padding:0.5rem 0.6rem;
    padding-top: 0.3rem;
    background: #9953F0;
    text-align: center;
    display: flex;
    flex-direction: column;
    position: fixed;
    /* top: 1.1rem; */
    left: 0.3rem;
    border-radius: 5px;
    z-index: 101
}
.Popup-button{
background: #fff;
color: #9953F0;
line-height: 0.6rem;
font-size: 14px;
border-radius: 0.3rem;
height: 0.6rem;
margin-top: 0.1rem;
/* width: 1.8rem; */
}
.Popup-p{
    display: inline-block;
    color: #F8F8F8;
    font-size: 12px;
    line-height: 0.7rem;
    font-weight: bold
}
.MacInfo-Header{
    padding: 0.5rem 0
}
.icon2{
    width: 0.31rem;
    height: 0.21rem;
    margin-right: 1rem;
    margin-left: 0.3rem
}
.MacName{
    font-size: 18px;
    color: #101012;
    font-weight: bold;
    margin-bottom: 0.4rem
}
.BaoZhen{
    position: relative;
}
.zhenduan{
    color: #666666;
    font-size: 12px;
    display: inline-block;
    position: fixed;
    width: 1.4rem;
    height: 0.5rem;
    line-height: 0.5rem;
    text-align: center;
    right: 0;
    top: 1.5rem;
    box-shadow:1px 1px 15px rgba(34,24,21,0.08); 
    border-radius: 13px 0 0 13px;
    z-index: 100;
    background: #fff
}
.baoyang{
    font-size: 12px;
    color: #666666;
    position: fixed;
    top: 2.2rem
}
.NUM{
    overflow: hidden;
    margin-bottom: 0.8rem;
}
.NUMS{
    width: 33%;
    float: left;
    text-align: center
}
.NUMname{
    color: #ccc;
    font-size: 12px;
    margin-bottom: 0.1rem
}
.NUMnum{
    font-size: 22px;
    font-weight: bold
}
.check{
    margin: 0 0.3rem;
    padding-top:0.4rem;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    padding-bottom: 0.4rem;
    margin-bottom: 0.3rem;
    box-shadow:1px 1px 15px rgba(34,24,21,0.08); 
}
.checks{
    overflow: hidden;
}
.checkName{
    font-size: 14px;
    color: #101012;
    width: 60%;
    white-space:nowrap; 
    text-overflow:ellipsis;     
    overflow: hidden;
    display: inline-block 
}
.checkNum{
    font-size: 14px;
    color: #999999;
    float: right;
}
.checkchange{
    font-size: 14px;
    color: #999999;
    float: right;
}
.checkNums{
    margin-right: 0.4rem
}
.Good{
    border-top: #F1F1F1 solid 1px;
    padding-top: 0.4rem;
    margin-top: 0.4rem
}
.zheng{
    font-size: 14px;
    color: #101012;
    display: inline-block;
    width: 1.8rem;
    height: 0.6rem;
    background: #F1F1F1;
    border-radius: 15px;
    text-align: center;
    line-height: 0.6rem;
    margin-left: 1.2rem;
    margin-right: 0.6rem
}
.nzheng{
    font-size: 14px;
    color: #101012;
    display: inline-block;
    width: 1.8rem;
    height: 0.6rem;
    background: #F1F1F1;
    border-radius: 15px;
    text-align: center;
    line-height: 0.6rem;
}
.container{
    text-align: center;
    margin-top: 1.4rem
}
</style>
