<template>
    <div style="height:100%">
         <!-- <router-view/> -->
        <transition name="fade">
            <router-view></router-view>
        </transition>
        <Tabbar></Tabbar>
        <!-- <div class="FOOTS2"></div>
        <div class="ICON2" @click="openBuy">
            <img src="../assets/icon-5.png" class="ICON1" >
        </div> -->
        <PopupGotoBuy v-if="popupGotoBuyopen" :PopupGotoBuyopen='popupGotoBuyopen' v-on:changePopupGotoBuy='changePopupGotoBuy'></PopupGotoBuy>
    </div>
</template>

<script>
import { PaletteButton } from 'mint-ui'
import Tabbar from './Tabbar/Tabbar.vue'
import PopupGotoBuy from '../common/PopupGotoBuy'


export default {
    components:{
        Tabbar,PopupGotoBuy
    },
    name:"MyMac",
    data(){
        return {
            popupGotoBuyopen:false,
            
        }
    },
    methods:{
        openBuy(){
            this.popupGotoBuyopen = true
        },
        changePopupGotoBuy(Popups){
            this.popupGotoBuyopen = Popups
        }
    }
}
</script>

<style>
.fade-enter-active, .fade-leave-active {
  transition: opacity .3s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}
li{
    list-style: none
}
.FOOT{
    position: fixed;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    box-shadow:1px 1px 15px rgba(34,24,21,0.08);
    padding:0.1rem 0;
    background: #fff;
    z-index: 100;
}
.FOOTS{
    float: left;
    width: 20%;
    text-align: center
}
.FOOTS1{
    float: right;
}
.FOOTS2{
    width: 1.4rem;
    height: 1.4rem;
    position: fixed;
    left: 3rem;
    bottom: 0.2rem;
    background: #fff;
    z-index: 101;
    border-radius: 50%;
    box-shadow:0px -4px 10px rgba(34,24,21,0.05);
}
.ICON{
    width: 0.4rem;
    height: 0.4rem;
    background: red
}
.ICON2{
    background: #fff;
    position: fixed;
    left: 3.25rem;
    bottom: 0.1rem;
    height: 1.3rem;
    z-index: 200
}
.ICON1{
    width: 0.9rem;
    height: 0.9rem;
}
.FOOTSS{
    font-size: 11px;
    color: #cccccc
}
.active{
    color: #9953F0
}
</style>
