<template>
    <div style="padding-top:1.6rem">
        <div v-for="(item,index) in proplem_steps" :key="index" v-if="index==desc_id"> 
            <div class="DingdanInfo-Header">
                <!-- <img @click="goBack" src="../assets/icon-back.png" class="DingdanInfo-icon1"> -->
                <div style="width:0.5rem;height:0.5rem;float:left" @click="goBack">
                    <img  src="../assets/icon-back.png" class="DingdanInfo-icon1">
                </div>
                <span class="Dingdan-title">{{item.issue_title}}</span>
            </div>
            <div class="BODY">
                <div class="P-header">
                    <span class="P-name">第{{index+1}}步</span>
                    <span class="P-num">检测步骤：{{proplem_steps.length}}</span>
                </div>
                <p style="font-size:15px;color:#101012;font-weight:bold;margin-bottom:0.1rem">{{item.title}}</p>
                <p style="font-size:12px;color:RGBA(16, 16, 18, 0.3);margin-bottom:0.2rem">龙腾机械提供 {{item.created_at}}</p>
                <p class="P-center">{{item.desc}}</p>
                <div class="P-buy" v-if="item.components.length>0">
                    <p class="P-buyNum">设备配件购买:</p>
                    <p class="P-buynum" v-for="(Item,Index) in item.components" :key="Index">{{Index+1}}.{{Item.name}}</p>
                </div>
                <div class="P-button" v-if="index+1!==proplem_steps.length" @click="NextProplem">下一步</div>
                <div class="P-button" v-if="index+1==proplem_steps.length" @click="ProplemYes">已解决问题</div>
                <div class="Q-button" v-if="index+1!==proplem_steps.length" @click="QuerenwentiPopup(index)">确认问题</div>
                <div class="P-buttons" v-if="index+1==proplem_steps.length" @click="ProplemNot">未解决问题</div>
            </div>
        </div>
        <FoundHelp v-if="foundHelpopen" :FoundHelp='foundHelpopen' v-on:changeFoundHelp="changeFoundHelp"></FoundHelp>
        <ProplemQueren v-if="proplemQuerenopen" :ProplemQueren='proplemQuerenopen' v-on:changeProplemQueren="changeProplemQueren"></ProplemQueren>
        <PopupBuy v-if="popupBuy" :PopupBuy='popupBuy' v-on:changePopupBuy='changePopupBuy'></PopupBuy>
    </div>
</template>

<script>
import PopupBuy from '../common/PopupBuy'
import FoundHelp from '../common/FoundHelp'
import ProplemQueren from '../common/ProplemQueren'
import {mapGetters,mapMutations} from 'vuex'
import {API} from '../api/config.js'
export default {
    name:'Proplem',
    data(){
        return {
            now_proplem_step:{},
            // proplem_steps:[],
            foundHelpopen:false,
            proplemQuerenopen:false,
            popupBuy:false
        }
    },
    components:{
        API,FoundHelp,ProplemQueren,PopupBuy
    },
    computed:{
        ...mapGetters([
            "issue_id","desc_id","proplem_steps"
        ])
    },
    created(){
        this.getIssue_steps()
    },
    methods:{
        ...mapMutations({
            setDesc_id:'SET_DESC_ID',
            setProplem_steps:'SET_PROPLEM_STEPS',
            setProplemComponents: 'SET_PROPLEMCOMPONENTSLIST'
        }),
        goBack(){
            if(this.desc_id == 0){
                this.$router.push('/MyMac/MacInfo/')
            } else if(0<this.desc_id<this.proplem_steps.length){
                this.setDesc_id(this.desc_id - 1)
                console.log(this.desc_id)
                this.$router.push('/Proplem/'+this.desc_id)
            }
        },
        getIssue_steps(){
            console.log(this.issue_id)
            this.$axios.get(API+'/api/v1/common/issue_steps',{
                params:{"issue_id": this.issue_id}
            }).then((response) => {
                this.setProplem_steps(response.data.data)
                console.log(response)
            })
        },
        NextProplem(){
            this.setDesc_id(this.desc_id + 1)
            console.log(this.desc_id)
            this.$router.push('/Proplem/'+this.desc_id)
        },
        ProplemYes(){
            this.setDesc_id(0)
            this.$router.push('/MyMac/MacInfo/')
        },
        ProplemNot(){
            this.foundHelpopen = true
        },
        changeFoundHelp(Popups){
            this.foundHelpopen = Popups
        },
        QuerenwentiPopup(value){
            if(this.proplem_steps[value].components.length>0){
                this.setProplemComponents(this.proplem_steps[value].components)
                this.proplemQuerenopen = true
            }else{
                this.popupBuy =true
            }
        },
        changeProplemQueren(Popups){
            this.proplemQuerenopen = Popups
        },
        changePopupBuy(Popups){
            this.popupBuy = Popups
        }
    }
}
</script>

<style>
.Header1{
    overflow: hidden;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
    margin-bottom: 0.5rem
}
 .DingdanInfo-Header{
text-align: center;
overflow: hidden;
width: 100%;
padding: 0.3rem;
box-shadow: 1px 1px 15px rgba(34,24,21,0.08);
position: fixed;
top: 0;
left: 0;
z-index: 100;
background: #fff
}
.DingdanInfo-icon1{
    width: 0.2rem;
    height: 0.4rem;
    float: left;
}
.Dingdan-title{
    font-size: 18px;
    color: #101012;
}
.nextone{
    float: right;
    color: #CDCDCD;
    font-size: 14px;
    line-height: 24px
}
.Header1-center{
    color: #101012;
    font-size: 18px;
    font-weight: bold;
    margin-left: 25%
}
.BODY{
    padding: 0 0.3rem
}
.P-header{
    overflow: hidden;
    margin-bottom: 0.4rem
}
.P-name{
    font-size: 22px;
    color: #101012;
    font-weight: bold
}
.P-num{
    font-size: 12px;
    color: #999999;
    float: right;
    font-weight: bold
}
.P-center{
    color: #666666;
    font-size: 14px;
    line-height: 30px;
    margin-bottom: 0.6rem;
}
.P-buy{
    margin-bottom: 0.8rem
}
.P-buyNum{
    color: #999999;
    font-size: 15px;
    line-height: 30px
}
.P-buynum{
    color: #CCCCCC;
    font-size: 14px;
    line-height: 30px
}
.P-button{
    width: 100%;
    height: 0.9rem;
    text-align: center;
    line-height: 0.9rem;
    background: linear-gradient(to right, #9953F0 , #7465E9);
    color: #fff;
    font-size: 15px;
    margin-bottom: 0.3rem;
    border-radius: 23px;
    font-weight: bold
}
.P-buttons{
    width: 100%;
    height: 0.9rem;
    text-align: center;
    line-height: 0.9rem;
    color: #9953F0;
    font-size: 15px;
    margin-bottom: 0.3rem;
    border-radius: 23px;
    font-weight: bold;
    border: #9953F0 1px solid
}
.Q-button{
    width: 100%;
    height: 0.9rem;
    text-align: center;
    line-height: 0.9rem;
    color: #9953F0;
    font-size: 15px;
    margin-bottom: 0.3rem;
    border-radius: 23px;
    font-weight: bold;
    border: #9953F0 1px solid   
}
</style>
