<template>
    <div style="position:relative;padding-top:1.6rem">
        <div class="Popups" v-if="!PopBoole" >
            <span class="Popup-p" v-for="(item,index) in MACList" :key="index" @click="gotoNewMac(item.id)">{{item.name}} </span>
            <span class="Popup-buttons" @click="gotoWriter">添加设备</span>
        </div>
        <div class="DingdanInfo-Header">
            <img class="DingdanInfo-icon3 MacInfoIcon3" src="../assets/icon-nav-switch.png" @click="OpenPop" v-if="PopBoole">
            <img class="DingdanInfo-icon3 MacInfoIcon3" src="../assets/icon-nav-switch-on.png" @click="OpenPop" v-if="!PopBoole">
            <span class="Dingdan-title">未关联设备</span>
        </div>
        <div class="WithoutMacCenter">
            <p class="WithoutMacCenterText">赶快关联你购买的设备吧！保护设备从保养开始</p>
            <div class="WithoutMacCenterGO" @click="gotoWriter">关联设备</div>
        </div>
    </div>
</template>
<script>
import {API} from '../api/config.js'
import circleProgress from '../common/circleProgress'
import {mapGetters,mapMutations} from 'vuex'
export default {
    name:"WithoutMac",
    computed:{
        ...(mapGetters(['companyInfo']))
    },
    components:{
        'circle-progress': circleProgress
    },
    data(){
        return {
            PopBoole:'false',
             progerssList:[
                {"progress":30,"jindu":'30'},
            ],
            MAC:{},
            product_id:'',
            baoYangSteps:[],
            MACList:[]
        }
    },
    created(){},
    mounted(){},
    methods:{
        ...mapMutations({
            setCompanyInfo:'SET_COMPANYINFO'
        }),
        OpenPop(){
            this.PopBoole = !this.PopBoole
            console.log(this.PopBoole)
        },
       gotoWriter(){
           this.$router.push('/xilieChoose/')
       }
    }
}
</script>

<style>
.DingdanInfo-Header{
text-align: center;
overflow: hidden;
width: 100%;
padding: 0.3rem;
box-shadow: 1px 1px 15px rgba(34,24,21,0.08);
position: fixed;
top: 0;
left: 0;
z-index: 100;
background: #fff
}
.MacInfoIcon3{
    margin-top: 0.1rem
}
.DingdanInfo-icon3{
    width: 0.31rem;
    height: 0.21rem;
    float: left;
}
.Dingdan-title{
    font-size: 18px;
    color: #101012;
    font-weight: bold
}
.Popups{
    padding:0.5rem 0.6rem;
    padding-top: 0.3rem;
    background: #9953F0;
    text-align: center;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 1.1rem;
    left: 0.3rem;
    border-radius: 5px;
    z-index: 101
}
.Popup-buttons{
background: #fff;
color: #9953F0;
font-size: 14px;
border-radius: 0.3rem;
margin-top: 0.1rem;
padding: 0.1rem 0.34rem
}
.Popup-p{
    display: inline-block;
    color: #F8F8F8;
    font-size: 12px;
    line-height: 0.7rem;
    font-weight: bold
}
.MacInfo-Header{
    padding: 0.5rem 0
}
.icon2{
    width: 0.31rem;
    height: 0.21rem;
    margin-right: 1rem;
    margin-left: 0.3rem
}
.WithoutMacCenter{
    margin: 0.3rem;
    text-align: center
}
.WithoutMacCenterText{
    color: #CCCCCC;
    font-size: 12px;
    margin-bottom: 1.5rem
}
.WithoutMacCenterGO{
    width: 100%;
    padding: 0.2rem 0;
    background: linear-gradient(to right, #9953F0 , #7465E9);
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    border-radius: 0.46rem
}
</style>
