<template>
    <div>
        <div class="DingdanInfo-Header AboutMac">
            <!-- <img @click="goBack" src="../assets/icon-back.png" class="DingdanInfo-icon1"> -->
            <div style="width:0.5rem;height:0.5rem;float:left" @click="goBack">
                <img  src="../assets/icon-back.png" class="DingdanInfo-icon1">
            </div>
            <span class="Nextone" @click="gotoNextPage">下一步</span>
        </div>
        <p class="guanlian">选择设备系列</p>
        <div v-for="(item,index) in AllMacList" :key="index">
            <router-link :to="'/AboutMac/'+item.id">
                <div :class='Class(index)' class=" one">
                    <p class="header1">{{item.name}}</p>
                    <p class="foot1">{{item.center}}</p>
                </div>
            </router-link>
        </div>
    </div>
</template>


<script>
import {API} from '../api/config.js'
// import PullUpReload from '../common/PullUpReload'
// import {config} from '../apiconfig/index.js'
import {mapMutations} from 'vuex'
export default {
    name:"xilieChoose",
    components:{
        API,
    },
    data(){
        return {
            MacList:[],
            value2:'关联设备',
            AllMacList:[],
            MacList:[],
            num:10,
            refreshing: false,
            loading: false,
        }
    },
    created(){
        this.getAllMac()
    },
    methods:{
        refresh () {
            this.refreshing = true;
            this.$refs.container.scrollTop = 0;
            setTimeout(() => {
                this.refreshing = false;
                this.num = 10;
            }, 2000)
        },
        load () {
            this.loading = true;
            setTimeout(() => {
                this.loading = false;
                console.log(this.num)
                this.MacList = this.AllMacList.slice(this.num,this.num += 10)
                console.log(this.MacList)
                this.num += 10;
            }, 2000)
        },


        goBack(){
            this.$router.go(-1)
        },
        Class(index){
            return "one"+(index+1)%6
        },
        getAllMac(){
            this.$axios.get(API+'/api/v1/common/categories',{params:{
                page:1,
                per:200
            }},{
                headers:{
                    'Authorization':JSON.parse(localStorage.getItem('userInfo')).token
                }
            }).then((response)=>{
                this.AllMacList = response.data.data
                this.MacList = this.AllMacList.slice(0,this.num)
            })
        },
        gotoNextPage(){
            this.$router.push('/AboutMac/'+10000)
        }
    }    
}
</script>


<style>
.DingdanInfo-Header{
text-align: center;
overflow: hidden;
width: 100%;
padding: 0.3rem;
box-shadow: 1px 1px 15px rgba(34,24,21,0.08);
position: fixed;
top: 0;
left: 0;
z-index: 100;
background: #fff
}
.DingdanInfo-icon1{
    width: 0.2rem;
    height: 0.4rem;
    float: left;
}
.Dingdan-title{
    font-size: 18px;
    color: #101012;
}
.Nextone{
    float: right;
    color: #CDCDCD;
    font-size: 14px
}
.guanlian{
    color: #101012;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 0.4rem;
    margin-left: 0.3rem;
    padding-top: 1.4rem
}
.Header1{
    overflow: hidden;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
    margin-bottom: 0.5rem
}
.nextone{
    float: right;
    color: #CDCDCD;
    font-size: 14px
}
.one{
    /* width: 100%; */
    height: 1.3rem;
    padding-left: 0.4rem;
    padding-top: 0.2rem;
    border-radius: 0.16rem;
    margin-bottom: 0.3rem;
    margin-left: 0.3rem;
    margin-right: 0.3rem 
}
.one1{
    background: linear-gradient(to right, #727EFF , #A065FA);
}
.one2{
    background: linear-gradient(to right, #7968C4 , #B271CD);
}
.one3{
    background: linear-gradient(to right, #EE7272 , #E89973);
}
.one4{
    background: linear-gradient(to right, #79B9FD , #955FE9);
}
.one5{
    background: linear-gradient(to right, #F289E5 , #E97AA9);
}
.one0{
    background: linear-gradient(to right, #44B7FE , #0AE8FD);
}
.header1{
    line-height: 0.5rem;
    font-size: 15px;
    color: #fff;
    font-weight: bold
}
.foot1{
    font-size: 12px;
    color: #fff
}
.mu-select{
    box-shadow: none
}
.mu-input-focus-line{
    display: none;
}
.mu-input-line{
    display: none
}
.mu-input.full-width{
    width: auto
}
</style>
