<template>
    <div style="padding-top:0.2rem">
        <div class="inform" v-for="(item,index) in customerList" :key="index">
            <div class="centers">
                <p class="centers-input customers">零配件：</p>
                <p class="customerscenter">{{item.name}}</p>
            </div>
            <div class="centers">
                <p class="centers-input customers">规格型号：</p>
                <p class="customerscenter">{{item.model}}</p>
            </div>
            <div class="standardFoot">
                <p class="standardFootTitle">零配件图片</p>
                <div class="AuditedPass-imgs" >
                    <img v-for="(item,index) in item.pic_urls" :key="index" v-bind:src="item" class="AuditedPass-img" @click="BigImage(index)" :class="(index+1)%4 == 0 ? 'Dingdan-imgNone':''">
                </div>
            </div>
            <div class="standardFoot">
                <p class="standardFootTitle">零配件图纸</p>
                <div class="AuditedPass-imgs" >
                    <img v-for="(item,index) in item.draw_urls" :key="index" v-bind:src="item" class="AuditedPass-img" @click="BigImage(index)" :class="(index+1)%4 == 0 ? 'Dingdan-imgNone':''">
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import {mapGetters,mapMutations} from 'vuex'
import {API} from '../../api/config.js'
export default {
    name:'customer',
    computed:{
        ...mapGetters(['companyInfo'])
    },
    data(){
        return {

            Pic_rul:[],
            draw_url:[],
            customerList:{},
            num:'',
            company_name:'',
            address:'',
            contact:'',
            tel:'',
            product_id:'',
            MAC:{},
            COMPANYINFO:{},
            One:true,
            Two:true,
            Three:true,
            Four:true,
            category_id:'',
            DingdanImgs:[]

        }
    },
    created(){
        this.customerList = JSON.parse(sessionStorage.getItem('DingdanMacInfo')).items
        console.log(this.customerList)
    },
    methods:{
        goBack(){
            this.$router.go(-1)
        },
    }
}
</script>

<style scoped>
.DingdanInfo-Header{
text-align: center;
overflow: hidden;
width: 100%;
padding: 0.3rem;
box-shadow: 1px 1px 15px rgba(34,24,21,0.08);
position: fixed;
top: 0;
left: 0;
z-index: 100;
background: #fff
}
.DingdanInfo-icon1{
    width: 0.2rem;
    height: 0.4rem;
    float: left;
}
.Dingdan-title{
    font-size: 18px;
    color: #101012;
    font-weight: bold
}
.ChoosePlace-right{
    color: #CCCCCC;
    font-size: 14px;
    float: right;
}
.Header1{
    overflow: hidden;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
    margin-bottom: 0.5rem;
    padding: 0.5rem 0
}
.nextone{
    float: right;
    color: #CDCDCD;
    font-size: 14px;
    line-height: 24px
}
.Header1-center{
    color: #101012;
    font-size: 18px;
    font-weight: bold;
    margin-left: 25%
}
.center{
    margin: 0 0.3rem;
    background: linear-gradient(to right, #727EFF , #A065FA);
    height: 2.8rem;
    padding-left: 0.5rem;
    padding-top: 0.7rem ;
    border-radius: 10px;
    margin-bottom: 0.5rem;
    margin-top: 1.4rem
}
.inform{
    margin: 0 0.3rem;

}
.centers{
    overflow: hidden;
    border-bottom: #F1F1F1 solid 1px;
    padding-bottom: 0.3rem;
    margin-top: 0.5rem
}
.centerss{
    margin-bottom: 0.9rem
}
.centers-input{
    float: left;
    color: #101012;
    font-size: 15px;
    outline: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    width: 80%
}
.icon1{
    width: 0.3rem;
    height: 0.3rem;
    float: right;
    margin-top: 0.1rem
}
.header1{
    line-height: 0.5rem;
    font-size: 15px;
    color: #fff;
    font-weight: bold
}
.foot1{
    font-size: 12px;
    color: #fff
}
.queren{
    margin: 1.6rem 0.3rem;
    background: linear-gradient(to right, #9953F0 , #7465E9);
    width: 6.9rem;
    height: 0.9rem;
    border-radius: 23px;
    text-align: center;
    font-size: 15px;
    color: #fff;
    font-weight: bold;
    line-height: 0.9rem;
    margin-bottom: 1rem
}
.WriterMacQueren{
    text-align: center;
    padding-top: 3rem
}
.WriterMacIcon1{
    width: 0.7rem;
    height: 0.7rem;
    margin-bottom: 1rem
}
.WriterMacButton{
    color: #CCCCCC;
    font-size: 15px
}
.customers{
    width: 22%;
    color: #999999;
    font-size: 15px;
    /* font-weight: bold */
}
.customerscenter{
    color: #101012;
    font-size: 15px;
    font-weight: bold
}
.standardFoot{
    margin-top: 0.5rem;
}
.standardFootTitle{
    margin-bottom: 0.3rem;
    color: #999999;
    font-size: 12px
}
.AuditedPass-img{
    width: 1.5rem;
    height: 1.5rem;
    margin-bottom: 0.3rem;
    margin-right: 0.3rem
}
</style>
