<template>
    <div style="position:relative;padding-top:1.4rem;height:100%">
        <div class="DingdanInfo-Header">
            <img src="../../assets/icon-find.png" @click="SearchOrders" class="DingdanInfo-icon1-search">
            <span class="Dingdan-title">订单列表-{{DingdanTypeName}}</span>
            <img src="../../assets/icon-nav-filter.png" v-if="DingdanPopup" class="DingdanInfo-icon2" @click.stop @click="dingdanPopup">
            <img src="../../assets/icon-nav-filter-on.png" v-if="!DingdanPopup" class="DingdanInfo-icon2" @click.stop @click="dingdanPopup">
        </div>
            <!-- <MyNavbar></MyNavbar> -->
            <Nav></Nav>
            <swiper></swiper>
             <!-- <div class="Dingdan-Popup" style="z-index:10000" @click.stop v-if="!DingdanPopup">
                <p class="Dingdan-p" @click="DingdanType4">全部</p>
                <p class="Dingdan-p" @click="DingdanType2">处理中</p>
                <p class="Dingdan-p" @click="DingdanType3">已结束</p>
            </div> -->
            <mu-container class="Dingdan-Popup" style="z-index:10000" data-mu-loading-color="secondary" data-mu-loading-overlay-color="rgba(0, 0, 0, .7)" v-loading="loading2" @click.stop v-if="!DingdanPopup">
                <mu-button color="primary" @click="DingdanType4()">全部</mu-button>
                <mu-button color="primary" @click="DingdanType2()">处理中</mu-button>
                <mu-button color="primary" @click="DingdanType3()">已结束</mu-button>
            </mu-container>
        <!-- <router-view></router-view> -->
        <!-- <transition name="fade">
            <router-view></router-view>
        </transition> -->
    </div>
</template>

<script>
import Loading from 'muse-ui-loading'
import 'muse-ui-loading/dist/muse-ui-loading.css';
import MyNavbar from './../MyNavbar/Navbar'
import {mapMutations} from 'vuex'
import Nav from './../Swiper/Nav'
import swiper from './../Swiper/swiper'
export default {
    name:'Dingdan',
    components:{
        MyNavbar,Nav,swiper
    },
    data(){
        return {
            DingdanPopup:'false',
            DingdanTypeName:'全部',
            loading1: false,
            loading2: false
        }
    },
    mounted(){
        document.addEventListener('click',(e)=>{
            if(e.target.className != 'Dingdan-Popup' && e.target.className != 'DingdanInfo-icon2'){
                this.DingdanPopup = true
            }
        })
    },
    methods:{
        ...mapMutations({
            setDingdanType:'SET_DINGDANTYPE'
        }),
        loading () {
            Loading.config({
                overlayColor:'hsla(0,0%,100%,.5)',
                color:'#9953F0',
            })
            const loading = Loading({})
            // this.loading2 = true;
            setTimeout(() => {
                // this.loading2 = false;
                loading.close()
            }, 1000)
        },
        dingdanPopup(){
            this.DingdanPopup = !this.DingdanPopup
        },
        DingdanType2(){
            this.loading()
            this.setDingdanType('handling')
            sessionStorage.setItem("DingdanType",JSON.stringify('handling'))
            this.DingdanPopup = true
            this.DingdanTypeName = '处理中'
            // this.$router.go(0)
        },
        DingdanType3(){
            this.loading()
            this.setDingdanType('finished')
            sessionStorage.setItem("DingdanType",JSON.stringify('finished'))
            this.DingdanPopup = true
            this.DingdanTypeName = '已结束'
            // this.$router.go(0)
        },
        DingdanType4(){
            this.loading()
            this.setDingdanType('all')
            sessionStorage.setItem("DingdanType",JSON.stringify('all'))
            this.DingdanPopup = true
            this.DingdanTypeName = '全部'
            // this.$router.go(0)
        },
        SearchOrders(){
            this.$router.push('/SearchOrders/')
        }
    }
}
</script>

<style>
.fade-enter-active, .fade-leave-active {
  transition: opacity .3s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}
.Dingdan-Header{
    text-align: center;
    overflow: hidden;
    width: 100%;
    padding: 0.5rem 0.3rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background: #fff
}
.Dingdan-title{
    color: #101012;
    font-size: 18px;
    font-weight: bold;
}
.Dingdan-titles{
    float: none;
}


.DingdanInfo-Header{
text-align: center;
overflow: hidden;
width: 100%;
padding: 0.3rem;
box-shadow: 1px 1px 15px rgba(34,24,21,0.08);
position: fixed;
top: 0;
left: 0;
z-index: 100;
background: #fff
}
.DingdanInfo-icon1-search{
    width: 0.4rem;
    height: 0.4rem;
    float: left;
}
.Dingdan-title{
    font-size: 18px;
    color: #101012;
}
.DingdanInfo-icon2{
    width: 0.4rem;
    height: 0.4rem;
    float: right;
}
.icon3{
    width: 0.4rem;
    height: 0.4rem;
    float: right;
}
.Dingdan-Popup{
    background: #9953F0;
    width: 2.4rem;
    height:3rem;
    text-align: center;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 0.3rem;
    top: 1.1rem
}
.Dingdan-p{
    color: #F8F8F8;
    font-size: 12px;
    line-height: 1rem;
    font-weight: bold;
}
.DingdanRoomMy{
    float: right;
    margin-top: 0.05rem;
    color: #9953F0;
    font-size: 14px
}
.mu-primary-color {
    background-color: #9953F0;
}
.mu-raised-button{
    height: 1rem;
}
.container{
    padding: 0
}
</style>
