<template>
    <div style="padding-top:0.2rem">
        <div class="DingdanInfo-Header">
            <!-- <img @click="goBack" src="../../assets/icon-back.png" class="DingdanInfo-icon1"> -->
            <div style="width:0.5rem;height:0.5rem;float:left" @click="goBack">
                <img  src="../../assets/icon-back.png" class="DingdanInfo-icon1">
            </div>
            <span class="Dingdan-title">设备详情</span>
        </div>
        <div class="center">

            <p class="header1">{{DingdanMacInfo.product_name}}</p>
            <p class="foot1">CM400 High Interlinent Carton Package Machine</p>
            <p class="header1">CM400装机盒设备</p>
            <!-- <p class="foot1">CM400 High Interlinent Carton Package Machine</p> -->
            <div class="Dingdan-type">
                <div class="Dingdan-type-one">
                    <img src="../../assets/icon-notes-1-white.png" class="Dingdan-icon3">
                    <span class="Dingdan-type-two">CM400</span>
                </div>
                <div class="Dingdan-type-one">
                    <img src="../../assets/icon-notes-2-white.png" class="Dingdan-icon3">
                    <span class="Dingdan-type-two">380V 50hz</span>
                </div>
                <div class="Dingdan-type-one">
                    <img src="../../assets/icon-notes-3-white.png" class="Dingdan-icon3">
                    <span class="Dingdan-type-two">250kg</span>
                </div>
            </div>
            <p class="MacinforTime">关联时间：2018.09.26</p>

        </div>
         
        <DingdanNavbar></DingdanNavbar>
        <!-- <router-view v-if="Children"></router-view> -->
        <transition name="fade">
            <router-view v-if="Children"></router-view>
        </transition>
    </div>
</template>

<script>
import {API} from '../../api/config.js'
import DingdanNavbar from './DingdanNavbar/Navbar'
export default {
    name:'DingdanMacInfo',
    components:{
        DingdanNavbar
    },
    data(){
        return {
            DingdanMacInfo:{},
            Children:false
        }
    },
    created(){
        this.getAllMac()
    },
    methods:{
        goBack(){

            // this.$router.push('/DingdanInfo/'+JSON.parse(sessionStorage.getItem('CC')))
            // this.$router.push('/DingdanInfo/16')
            this.$router.go(-1)
        },
        //获取资料
        getAllMac(){
            this.$axios.get(API+'/api/v1/w/product_info',{params:{
                "product_id":JSON.parse(sessionStorage.getItem('DingdanProduct_id'))
            }},{
                headers:{
                    'Authorization':JSON.parse(localStorage.getItem('userInfo'))
                }
            }).then((response)=>{
                console.log(response)
                this.DingdanMacInfo = response.data.data
                sessionStorage.setItem('DingdanMacInfo',JSON.stringify(response.data.data))
                this.Children = true
            })
        },
    }
}
</script>

<style scoped>
.fade-enter-active, .fade-leave-active {
  transition: opacity .3s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}
.DingdanInfo-Header{
text-align: center;
overflow: hidden;
width: 100%;
padding: 0.3rem;
box-shadow: 1px 1px 15px rgba(34,24,21,0.08);
position: fixed;
top: 0;
left: 0;
z-index: 100;
background: #fff
}
.DingdanInfo-icon1{
    width: 0.2rem;
    height: 0.4rem;
    float: left;
}
.Dingdan-title{
    font-size: 18px;
    color: #101012;
    font-weight: bold
}
.ChoosePlace-right{
    color: #CCCCCC;
    font-size: 14px;
    float: right;
}
.Header1{
    overflow: hidden;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
    margin-bottom: 0.5rem;
    padding: 0.5rem 0
}
.nextone{
    float: right;
    color: #CDCDCD;
    font-size: 14px;
    line-height: 24px
}
.Header1-center{
    color: #101012;
    font-size: 18px;
    font-weight: bold;
    margin-left: 25%
}
.center{
    margin: 0 0.3rem;
    background: linear-gradient(to right, #727EFF , #A065FA);
    height: 2.8rem;
    padding-left: 0.5rem;
    padding-top: 0.6rem ;
    border-radius: 10px;
    margin-bottom: 0.5rem;
    margin-top: 1.4rem
}
.inform{
    margin: 0 0.3rem;

}
.centers{
    overflow: hidden;
    border-bottom: #F1F1F1 solid 1px;
    padding-bottom: 0.3rem;
    margin-top: 0.5rem
}
.centerss{
    margin-bottom: 0.9rem
}
.centers-input{
    float: left;
    color: #101012;
    font-size: 15px;
    outline: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    width: 80%
}
.icon1{
    width: 0.3rem;
    height: 0.3rem;
    float: right;
    margin-top: 0.1rem
}
.header1{
    line-height: 0.5rem;
    font-size: 18px;
    color: #fff;
    font-weight: bold
}
.foot1{
    font-size: 12px;
    color: #fff
}
.queren{
    margin: 1.6rem 0.3rem;
    background: linear-gradient(to right, #9953F0 , #7465E9);
    width: 6.9rem;
    height: 0.9rem;
    border-radius: 23px;
    text-align: center;
    font-size: 15px;
    color: #fff;
    font-weight: bold;
    line-height: 0.9rem;
    margin-bottom: 1rem
}
.WriterMacQueren{
    text-align: center;
    padding-top: 3rem
}
.WriterMacIcon1{
    width: 0.7rem;
    height: 0.7rem;
    margin-bottom: 1rem
}
.WriterMacButton{
    color: #CCCCCC;
    font-size: 15px
}
.Dingdan-type{
    margin: 0.1rem 0;
    overflow: hidden;
    margin-bottom: 0.2rem
}
.Dingdan-type-one{
    float: left;
    margin-right: 0.3rem
}
.Dingdan-icon3{
    width: 0.3rem;
    height: 0.3rem;
    float: left;
    margin-right: 0.1rem;
}
.Dingdan-type-two{
    font-size: 11px;
    color: #fff;
    line-height: 0.2rem
}
.MacinforTime{
    font-size: 12px;
    color: #fff;
}
</style>
