 <template>
    <div style="padding-top:1.6rem"> 
        <div class="DingdanInfo-Header">
            <!-- <img @click="goBack" src="../../assets/icon-back.png" class="DingdanInfo-icon1"> -->
            <div style="width:0.5rem;height:0.5rem;float:left" @click="goBack">
                <img  src="../../assets/icon-back.png" class="DingdanInfo-icon1">
            </div>
            <span class="Dingdan-title">订单详情-{{DingdanInfo.state_name}}</span>
            <!-- <img src="../../assets/icon-nav-share.png" class="DingdanInfo-icon2"> -->
        </div>
         <div class="Dingdan-name">
            <span class="Dingdan-nameleft">{{DingdanInfo.product_name}}</span>
            <span class="Dingdan-nameright">{{DingdanInfo.type_name}}</span>
        </div>
        <div class="Dingdan-type">
            <div class="Dingdan-type-one">
                <img src="../../assets/icon-notes-1.png" class="Dingdan-icon3">
                <span class="Dingdan-type-two">CM400</span>
            </div>
            <div class="Dingdan-type-one">
                <img src="../../assets/icon-notes-4.png" class="Dingdan-icon3">
                <span class="Dingdan-type-two">380V 50hz</span>
            </div>
            <div class="Dingdan-type-one">
                <img src="../../assets/icon-notes-5.png" class="Dingdan-icon3">
                <span class="Dingdan-type-two">250kg</span>
            </div>
        </div>
        <p class="Dingdan-product">{{DingdanInfo.remark}}</p>
        <div class="Dingdan-imgs" >
            <img v-for="(item,index) in DingdanImgs" :key="index" v-bind:src="item" class="Dingdan-img" :class="(index+1)%3 == 0 ? 'Dingdan-imgNone':''">
        </div>
        <p style="color:#999999;font-size:12px;margin-left:0.3rem;margin-bottom:0.4rem">联系人</p>
        <div class="Dingdan-people" style="margin-bottom: 0.3rem" v-for="(item,index) in DingdanInfoContacts" :key="index">
            <span class="Dingdan-peopelname">{{item.type}}：{{item.staff_name}}</span>
            <!-- <span>小李</span> -->
            <span class="Dingdan-peoplephone">{{item.tel}}</span>
        </div>
        <!-- <div class="Dingdan-Foots" v-if="!DingdanInfo.has_comment">
            <div class="Dingdan-goutong" @click="PopupOpen">评价</div>
        </div>
        <div class="Dingdan-Foots" v-if="DingdanInfo.has_comment">
            <div class="Dingdan-pingjiaed" >已评价</div>
        </div> -->
        <!-- <div class="Dingdan-Foots" v-if="DingdanInfo.has_comment">
            <div class="Dingdan-goutong" @click="PopupOpen">评价</div>
        </div> -->
        <popup v-if="popupopen" :PopupClose='popupopen' v-on:changePopup="changePopup" v-on:starMarkChange="starMarkChange"></popup>
    </div>
 </template>
 
 <script>
import {API} from '../../api/config.js'
import  popup  from '../../common/Popup'
 export default {
     name:'DingdanPingjia',
     components:{
         popup
     },
     data(){
         return {
             popupopen:false,
             DingdanImgs:[],
             DingdanInfo:{},
             DingdanInfoContacts:[]
         }
     },
     created(){
         this.getLingpeijianDingdan()
     },
     methods:{
         goBack(){
             this.$router.push('/MyMac/DingdanRoom/All')
         },
         PopupOpen(){
             this.popupopen = true
             console.log(this.popupopen)
         },
         changePopup(Popups){
             this.popupopen = Popups
             console.log(Popups)
         },
         starMarkChange(mark,outIndex){
             console.log(mark)
             console.log(outIndex)
         },
         getLingpeijianDingdan(){
            this.$axios.get(API+'/api/v1/i/order_info',{params:{
                "order_id":this.$route.params.id
            }},{
                headers:{
                    'Authorization':JSON.parse(localStorage.getItem('userInfo'))
                }
            }).then((response)=>{
                this.DingdanInfo = response.data.data
                this.DingdanInfoContacts = this.DingdanInfo.contacts
                this.DingdanImgs = response.data.data.pic_urls
                console.log(this.DingdanInfo)
            })
        },
     }
 }
 </script>
 
 <style>
 .DingdanInfo-Header{
text-align: center;
overflow: hidden;
width: 100%;
padding: 0.3rem;
box-shadow: 1px 1px 15px rgba(34,24,21,0.08);
position: fixed;
top: 0;
left: 0;
z-index: 100;
background: #fff
}
.DingdanInfo-icon1{
    width: 0.2rem;
    height: 0.4rem;
    float: left;
}
.Dingdan-title{
    font-size: 18px;
    color: #101012;
}
.DingdanInfo-icon2{
    width: 0.4rem;
    height: 0.4rem;
    float: right;
}
.Dingdan-name{
    overflow: hidden;
    margin: 0 0.3rem;
    margin-bottom: 0.3rem
}
.Dingdan-nameleft{
    color: #101012;
    font-size: 18px;
    font-weight: bold
}
.Dingdan-nameright{
color: #999999;
font-size: 12px;
font-weight: bold;
float: right
}
.Dingdan-type{
    margin: 0 0.3rem;
    overflow: hidden;
    margin-bottom: 0.6rem
}
.Dingdan-type-one{
    float: left;
    margin-right: 0.3rem
}
.Dingdan-icon3{
    width: 0.24rem;
    height: 0.24rem;
}
.Dingdan-type-two{
    font-size: 11px;
    color: #CCCCCC;
    line-height: 0.2rem
}
.Dingdan-product{
    color: #101012;
    font-size: 14px;
    /* font-weight: bold; */
    line-height: 0.5rem;
    margin:0 0.3rem;
    margin-bottom: 0.3rem
}
.Dingdan-imgs{
    margin: 0 0.3rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 0.5rem;
}
.Dingdan-img{
    width: 2.1rem;
    height: 2.1rem;
    margin-bottom: 0.3rem;
    margin-right: 0.3rem
}
.Dingdan-imgNone{
    margin-right: 0
}
.Dingdan-people{
    margin: 0 0.3rem;
    box-shadow:1px 1px 15px rgba(34,24,21,0.08); 
    overflow: hidden;
    padding: 0.2rem 0.2rem;
    margin-bottom: 2rem
}
.Dingdan-peopelname{
    color: #666666;
    font-size: 15px;
    line-height: 0.7rem;
    font-weight: bold
}
.Dingdan-peoplephone{
    color: #101012;
    font-size: 15px;
    float: right;
    font-weight: bold;
    line-height: 0.7rem;
}
.Dingdan-Foots{
    width: 100%;
    padding: 0.3rem 0.3rem;
    box-shadow:1px 1px 15px rgba(34,24,21,0.08); 
    position: fixed;
    bottom: 0;
    z-index: 10;
    background: #fff
}
.Dingdan-goutong{
    height: 0.9rem;
    text-align: center;
    color: #fff;
    line-height: 0.9rem;
    font-size: 15px;
    font-weight: bold;
    background: linear-gradient(to right, #9953F0 , #7465E9);
    border-radius: 0.5rem;
}
.Dingdan-pingjiaed{
    height: 0.9rem;
    text-align: center;
    color: #fff;
    line-height: 0.9rem;
    font-size: 15px;
    font-weight: bold;
    background: #ccc;
    border-radius: 0.5rem;
}
 </style>
 