<template>
    <div style="padding-bottom:1rem;height:100%">
        <div class="All-Box" @click="gotoDingdanInfo(index)" v-for="(item,index) in AllOrderList" :key="index">
            <div class="All-Header">
                <img src="../../assets/icon-equip.png" class="All-icon1">
                <span class="All-Header-Name">{{item.product_name}}</span>
                <span class="All-Header-type">{{item.type_name}}</span>
            </div>
            <div class="All-Center">
                <div class="LingpeijianDingdanCenter" v-for="(Item,Index) in AllOrderList[index].items" :key="Index">
                    <span class="LingpeijianDingdanCenterName">{{Item.name}}</span>
                    <span class="LingpeijianDingdanCenterQTY">{{Item.qty}}</span>
                </div>
                <div class="All-Center-Foot">
                    <div class="all-Center-Left">
                        <img src="../../assets/icon-notes-1.png" class="All-icon2">
                        <span class="All-Center-right">{{item.model}}</span>
                    </div>
                    <div class="all-Center-Left">
                        <img src="../../assets/icon-notes-2.png" class="All-icon2">
                        <span class="All-Center-right">{{item.pic_count}}</span>
                    </div>
                    <div class="all-Center-Left">
                        <img src="../../assets/icon-notes-3.png" class="All-icon2">
                        <span class="All-Center-right">{{item.vid_count}}</span>
                    </div>
                </div>
            </div>
            <div class="All-Foot">
                <div v-if="item.state!=='pending'" style="float:left">
                    <span class="All-Foot-one">{{item.staff_type_name}}：</span>
                    <span class="All-Foot-two">{{item.staff_name}}</span>
                    <span class="All-Foot-three">{{item.staff_tel}}</span>
                </div>
                <div v-if="item.state=='pending'" style="float:left">
                    <span class="All-Foot-three">暂时没有售后人员服务</span>
                </div>
                <span class="All-Foot-four" :class="StateNameClass(index)">{{item.state_name}}</span>
            </div>
        </div>
    </div>
</template>

<script>
import {API} from '../../api/config.js'
export default {
    name:'LingpeijianDingdan',
    data(){
        return {
            id:100,
            AllOrderList:[],
            type:'buy'
        }
    },
    created(){
        this.getAllOrders()
    },
    methods:{
        //前往订单页
        gotoDingdanInfo(value){
            if(this.AllOrderList[value].state !== 'finished'){
                var ID = this.AllOrderList[value].id
                this.$router.push('/LingpeijianDingdanInfo/'+ID)
            } else {
                var ID = this.AllOrderList[value].id
                this.$router.push('/DingdanPingjia/'+ID)
            }
        },
        //获取所以订单
        getAllOrders(){
            this.$axios.get(API+'/api/v1/i/orders',{params:{
                "page": 1,
                "per": 10,
                "state": JSON.parse(sessionStorage.getItem("DingdanType")),
                "type": this.type
            }},{
                headers:{
                    'Authorization':JSON.parse(localStorage.getItem('userInfo'))
                }
            }).then((response)=>{
                this.AllOrderList = response.data.data
                console.log(response)
            })
        },
        StateNameClass(value){
            if(this.AllOrderList[value].state == 'pending'){
                return 'ONE'
            }else if(this.AllOrderList[value].state == 'finished'){
                return 'THREE'
            } else{
                return 'TWO'
            }
        }
    }
}
</script>
<style>
.All-Box{
    margin: 0 0.3rem;
    box-shadow:1px 1px 15px rgba(34,24,21,0.08); 
    padding-bottom: 0.3rem;
    margin-bottom: 0.3rem;
    margin-top: 0.1rem;
}
.All-Header{
    padding: 0.1rem 0.2rem;
    border-bottom: 1px solid #F1F1F1;
    overflow: hidden
}
.All-icon1{
    width: 0.3rem;
    height: 0.3rem;
    margin-right: 0.2rem;
    float: left;
    margin-top: 0.18rem
}
.All-Header-Name{
    color: #101012;
    font-size: 15px;
    line-height: 0.7rem;
    font-weight: bolder;
    float: left;
}
.All-Header-type{
    color: #101012;
    line-height: 0.7rem;
    font-size: 12px;
    float: right;
}
.All-Center{
padding: 0.2rem
}
.All-Center-product{
    color: #101012;
    font-size: 12px;
    line-height: 0.4rem
}
.All-Center-Foot{
    overflow: hidden;
    margin-top: 0.3rem;
    padding-bottom: 0.2rem;
    border-bottom: 1px solid #f1f1f1;
    margin-bottom: 0.1rem
}
.all-Center-Left{
    float: left;
    margin-right: 0.3rem;
    line-height: 0.35rem;
    color: #CCCCCC;
    font-size: 11px;
    overflow: hidden;
}
.All-icon2{
    width: 0.24rem;
    height: 0.24rem;
    margin-right: 0.1rem;
    float: left;
}
.All-Foot{
    overflow: hidden;
    /* padding: 0rem 0.2rem; */
    border-bottom: 1px solid #F1F1F1;
    padding-bottom: 0.2rem;
    margin: 0 0.2rem;
    padding-left: 0
}
.All-Foot-one{
color: #101012;
font-size: 12px
}
.All-Foot-two{
color: #101012;
font-size: 12px
}
.All-Foot-three{
color: #101012;
font-size: 12px
}
.All-Foot-four{
    float: right;
    color: #E95555;
    font-size: 12px
}
.All-icon2{
    width: 0.3rem;
    height: 0.3rem;
}
.LingpeijianDingdanCenter{
    overflow: hidden;
    margin-bottom: 0.2rem
}
.LingpeijianDingdanCenterName{
    float: left;
    color: #101012;
    font-size: 12px;
}
.LingpeijianDingdanCenterQTY{
    float: right;
    color: #101012;
    font-size: 12px;
    font-weight: bold
}
.ONE{
    color: #E95555
}
.TWO{
    color: #85C93B
}
.THREE{
    color: #CCCCCC
}
.container{
    padding: 0
}
</style>
