<template>
    <div style="padding-top:0.2rem">
        <div class="inform">
            <div class="centers">
                <p class="centers-input">{{this.num}}</p>
                <img src="../../assets/icon-equip1.png" class="icon1">
            </div>
            <div class="centers" v-if="One">
                <p class="centers-input">{{this.company_name}}</p>
                <img src="../../assets/icon-equip2.png" class="icon1">
            </div>
            <div class="centers" v-if="!One">
                <p class="centers-input" >未获取到公司名称</p>
                <img src="../../assets/icon-equip2.png" class="icon1">
            </div>

            <div class="centers" v-if="Two">
                <p class="centers-input">{{this.address}}</p>
                <img src="../../assets/icon-equip3.png" class="icon1">
            </div>
            <div class="centers" v-if="!Two">
                <p class="centers-input" >未获取到公司地址</p>
                <img src="../../assets/icon-equip3.png" class="icon1">
            </div>

            <div class="centers" v-if="this.Three">
                <p class="centers-input">{{this.contact}}</p>
                <img src="../../assets/icon-equip4.png" class="icon1">
            </div>
            <div class="centers" v-if="!this.Three">
                <p class="centers-input" >未获取到联系人姓名</p>
                <img src="../../assets/icon-equip4.png" class="icon1">
            </div>

            <div class="centers centerss" v-if="Four">
                <p class="centers-input">{{this.tel}}</p>
                <img src="../../assets/icon-equip5.png" class="icon1">
            </div>
            <div class="centers" v-if="!Four">
                <p class="centers-input">未获取到联系人方式</p>
                <img src="../../assets/icon-equip5.png" class="icon1">
            </div>
            <div class="standardFoot">
                <p class="standardFootTitle">设备图片和图纸</p>
                <div class="AuditedPass-imgs" >
                    <img v-for="(item,index) in DingdanImgs" :key="index" v-bind:src="item" class="AuditedPass-img" @click="BigImage(index)" :class="(index+1)%4 == 0 ? 'Dingdan-imgNone':''">
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import {mapGetters,mapMutations} from 'vuex'
import {API} from '../../api/config.js'
export default {
    name:'standard',
    computed:{
        ...mapGetters(['companyInfo'])
    },
    data(){
        return {
            num:'',
            company_name:'',
            address:'',
            contact:'',
            tel:'',
            product_id:'',
            One:true,
            Two:true,
            Three:true,
            Four:true,
            DingdanMacInfo:{},
            DingdanImgs:[]
        }
    },
    created(){
        this.DingdanMacInfo = JSON.parse(sessionStorage.getItem('DingdanMacInfo'))
        if(!this.DingdanMacInfo.company_name){
            this.One = false
        }else{
            this.company_name=this.DingdanMacInfo.company_name
        }
        if(!this.DingdanMacInfo.address){
            this.Two = false
        }else{
            this.address=this.DingdanMacInfo.address
        }
        if(!this.DingdanMacInfo.contact){
            this.Three = false
        }else{
            this.contact=this.DingdanMacInfo.contact
        }
        if(!this.DingdanMacInfo.tel){
            this.Four = false
        }else{
            this.tel=this.DingdanMacInfo.tel
        }
        this.num = this.DingdanMacInfo.num;
        console.log(this.DingdanMacInfo.num)
        this.DingdanImgs =this.DingdanMacInfo.pic_urls
    },
    methods:{
        goBack(){
            this.$router.go(-1)
        },
    }
}
</script>

<style scoped>
.DingdanInfo-Header{
text-align: center;
overflow: hidden;
width: 100%;
padding: 0.3rem;
box-shadow: 1px 1px 15px rgba(34,24,21,0.08);
position: fixed;
top: 0;
left: 0;
z-index: 100;
background: #fff
}
.DingdanInfo-icon1{
    width: 0.2rem;
    height: 0.4rem;
    float: left;
}
.Dingdan-title{
    font-size: 18px;
    color: #101012;
    font-weight: bold
}
.ChoosePlace-right{
    color: #CCCCCC;
    font-size: 14px;
    float: right;
}
.Header1{
    overflow: hidden;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
    margin-bottom: 0.5rem;
    padding: 0.5rem 0
}
.nextone{
    float: right;
    color: #CDCDCD;
    font-size: 14px;
    line-height: 24px
}
.Header1-center{
    color: #101012;
    font-size: 18px;
    font-weight: bold;
    margin-left: 25%
}
.center{
    margin: 0 0.3rem;
    background: linear-gradient(to right, #727EFF , #A065FA);
    height: 2.8rem;
    padding-left: 0.5rem;
    padding-top: 0.7rem ;
    border-radius: 10px;
    margin-bottom: 0.5rem;
    margin-top: 1.4rem
}
.inform{
    margin: 0 0.3rem;

}
.centers{
    overflow: hidden;
    border-bottom: #F1F1F1 solid 1px;
    padding-bottom: 0.3rem;
    margin-top: 0.5rem
}
.centerss{
    margin-bottom: 0.9rem
}
.centers-input{
    float: left;
    color: #101012;
    font-size: 15px;
    outline: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    width: 80%
}
.icon1{
    width: 0.3rem;
    height: 0.3rem;
    float: right;
    margin-top: 0.1rem
}
.header1{
    line-height: 0.5rem;
    font-size: 15px;
    color: #fff;
    font-weight: bold
}
.foot1{
    font-size: 12px;
    color: #fff
}
.queren{
    margin: 1.6rem 0.3rem;
    background: linear-gradient(to right, #9953F0 , #7465E9);
    width: 6.9rem;
    height: 0.9rem;
    border-radius: 23px;
    text-align: center;
    font-size: 15px;
    color: #fff;
    font-weight: bold;
    line-height: 0.9rem;
    margin-bottom: 1rem
}
.WriterMacQueren{
    text-align: center;
    padding-top: 3rem
}
.WriterMacIcon1{
    width: 0.7rem;
    height: 0.7rem;
    margin-bottom: 1rem
}
.WriterMacButton{
    color: #CCCCCC;
    font-size: 15px
}
.AuditedPass-imgs{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 0.5rem;
}
.AuditedPass-img{
    width: 1.5rem;
    height: 1.5rem;
    margin-bottom: 0.3rem;
    margin-right: 0.3rem
}
.Dingdan-imgNone{
    margin-right: 0
}
.standardFoot{
    margin-top: 0.5rem;
}
.standardFootTitle{
    margin-bottom: 0.3rem;
    color: #999999;
    font-size: 12px
}
</style>
