<template>
    <div style="padding-top:1.6rem">
        <div class="DingdanInfo-Header">
            <!-- <img @click="goBack" src="../../assets/icon-back.png" class="DingdanInfo-icon1"> -->
            <div style="width:0.5rem;height:0.5rem;float:left" @click="goBack">
                <img  src="../../assets/icon-back.png" class="DingdanInfo-icon1">
            </div>
            <span class="Dingdan-title">订单通知</span>
        </div>
        <div class="XiTongNewsCenter">
            <p class="XiTongNewsTime">09-31 15:36</p>
            <div class="XiTongNewsCenters">
                <p class="XiTongNewsCenterHeader">订单反馈</p>
                <p class="XiTongNewsCenterFooot">零配件已签收，可以去评价了</p>
            </div>
        </div>
        <div class="XiTongNewsCenter">
            <p class="XiTongNewsTime">09-31 15:36</p>
            <div class="XiTongNewsCenters">
                <p class="XiTongNewsCenterHeader">订单反馈</p>
                <p class="XiTongNewsCenterFooot">零配件已签收，可以去评价了</p>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name:'XiTongNews',
    data(){
        return {} 
    },
    methods:{
        goBack(){
            this.$router.go(-1)
        }
    }
}
</script>
 <style>
 .DingdanInfo-Header{
text-align: center;
overflow: hidden;
width: 100%;
padding: 0.3rem;
box-shadow: 1px 1px 15px rgba(34,24,21,0.08);
position: fixed;
top: 0;
left: 0;
z-index: 100;
background: #fff
}
.DingdanInfo-icon1{
    width: 0.2rem;
    height: 0.4rem;
    float: left;
}
.Dingdan-title{
    font-size: 18px;
    color: #101012;
}
.XiTongNewsCenter{
    margin: 0 0.3rem;
    margin-bottom: 0.4rem
}
.XiTongNewsTime{
    text-align: center;
    color: #CCCCCC;
    font-size: 11px;
    margin-bottom: 0.2rem
}
.XiTongNewsCenters{
    padding: 0.2rem;
    box-shadow:1px 1px 15px rgba(34,24,21,0.08);
}
.XiTongNewsCenterHeader{
    color: #101012;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 0.2rem
}
.XiTongNewsCenterFooot{
    color: #666666;
    font-size: 12px;
    line-height: 0.36rem;
    font-weight: bold
}
 </style>
 