<template>
    <div style="padding-top:1.6rem">
        <div class="DingdanInfo-Header" style="padding-bottom: 0.6rem;">
            <!-- <img @click="goBack" src="../../assets/icon-back.png" class="DingdanInfo-icon1"> -->
            <div style="width:0.5rem;height:0.5rem;float:left" @click="goBack">
                <img  src="../../assets/icon-back.png" class="DingdanInfo-icon1">
            </div>
            <span class="Dingdan-title">客服人员-小飞飞</span>
        </div>
        <div class="IMPeople">
            <div class="IMPeopleHeader">
                <span class="IMPeopleName">CM400装机盒机器设备</span>
                <span class="IMPeopleType">设备改造</span>
            </div>
            <p class="IMPeopleCenter">封口印字一次完成，可卧式、立卧、落地式多用，我是使爸爸爸爸爸爸爸爸爸爸爸爸爸爸爸爸</p>
            <div class="All-Center-Foots" style="border-bottom:none">
                <div class="all-Center-Left">
                    <img src="../../assets/icon-notes-1.png" class="All-icon2">
                    <span class="All-Center-right">CM400</span>
                </div>
                <div class="all-Center-Left">
                    <img src="../../assets/icon-notes-2.png" class="All-icon2">
                    <span class="All-Center-right">3</span>
                </div>
                <div class="all-Center-Left">
                    <img src="../../assets/icon-notes-3.png" class="All-icon2">
                    <span class="All-Center-right">1</span>
                </div>
            </div>
        </div>
        <div class="IMCenter" id="IMCenter">
            <div v-for="(item,index) in MSGSS" :key="index" style="overflow:hidden;padding:0 0.3rem;margin-bottom:0.4rem">
                <p :class="item.from !== 'zhangsan' ? 'MSGSSLeft':'MSGSSRight'" class="MSGSS">{{item.text}}</p>
            </div>
        </div>
        <div class="IMFoot">
            <!-- <input type="text" class="IMFootInput" v-model="Msgs"> -->
            <div class="IMFootInputBox">
                <div class="IMFootInput" id="IMFootInput"  contenteditable="true" @change="IMFootInputChange" ref="IMFootInput" @click="IMDiv" ></div>
            </div>
            <span class="IMFootSend" @click="IMFootSend" v-if="!ImgRoText">发送</span>
            <img src="../../assets/icon-emo-add.png" class="IMFootSendImg" v-if="ImgRoText" @click="PICTURE">
        </div>
        <PhotoView v-if="ShowPhotoView" :ShowPhotoView='ShowPhotoView' v-on:ClosePhotoView="ClosePhotoView" ></PhotoView>
    </div>
</template>

<script>
import PhotoView from '../../common/PhotoView'
// console.log(document.getElementById('IMCenter'))
const NIM = require('../../sdk/NIM_Web_SDK_v5.8.0.js')
export default {
    name:'IMChat',
    components:{
        PhotoView
    },
    data(){
        return {
            Msgs:'',
            MSGSS:[],
            nowMessageList:'',
            ImgRoText: true,
            SendCenter:'',
            ShowPhotoView: false,
            // TEXTCENTER:document.getElementById('IMFootInput').innerHTML
        }
    },
    created(){
        // console.log(this.TEXTCENTER)
        console.log(this.MSGSS)
        this.CheckYunxin()
    },
    watch:{
        nowMessageList: function(){
            this.$nextTick(() => {
                document.getElementById('IMCenter').scrollIntoView(false)
            })
        },
        SendCenter:function(){
            this.ImgRoText = false
        },
    },
    methods:{
        ClosePhotoView(PhotoViewBoxShow){
            this.ShowPhotoView = PhotoViewBoxShow.PhotoViewBoxShow
        },
        PICTURE(){
            this.ShowPhotoView = true
        },
        IMFootInputChange(){
            console.log(document.getElementById('IMFootInput').innerHTML)
        },
        goBack(){
            this.$router.go(-1)
        },
        //连接云信
        CheckYunxin(){
            var nim = SDK.NIM.getInstance({
                appKey:'6cc39d38df67682dc853d197884ba8e5',
                account:'zhangsan',
                token:'18b20c57ff8c7d5f86ab1007fc3f8d6a',
                onmsg:this.onMsg,
            })
            //云端信息
            nim.getHistoryMsgs({
                scene:'p2p',
                to:'zhangsi',
                done:this.getHistoryMsgsDone,
                limit:100,
                // beginTime:1542353308000,
                beginTime:Date.parse(new Date())-((3 * 3600 * 24 * 1000)),
                endTime:Date.parse(new Date()),
                // asc:true
            })
            //file消息
            nim.sendFile({
                scene: 'p2p',
                to: 'zhangsi',
                type: 'image',
                // fileInput: fileInput,
                fastPass: '{"w":200,"h":110,url:"xxxxxxxxx"}',
                done:this.sendMsgDone
            })
        },
        IMFootSend(Msgs){
            this.ImgRoText = true
            var nim = SDK.NIM.getInstance({
                appKey:'6cc39d38df67682dc853d197884ba8e5',
                account:'zhangsan',
                token:'18b20c57ff8c7d5f86ab1007fc3f8d6a',
            })
            //发送文本消息
            var msg = nim.sendText({
                scene: 'p2p',
                to:'zhangsi',
                // text:this.Msgs,
                text:document.getElementById('IMFootInput').innerHTML,
                done:this.sedMsgDone,
            })
        },
        sedMsgDone(error, msg){
            console.log(msg);
            console.log('发送' + msg.scene + ' ' + msg.type + '消息' + (!error?'成功':'失败') + ', id=' + msg.idClient);
            // this.Msgs = '';
            document.getElementById('IMFootInput').innerHTML = '' ;
            this.nowMessageList = document.getElementById('IMCenter').scrollHeight
            this.MSGSS.push(msg)
            // this.ImgRoText = false
        },
        onMsg(msg){
            console.log('收到消息', msg.scene, msg.type, msg.text);
            this.MSGSS.push(msg)
            this.nowMessageList = document.getElementById('IMCenter').scrollHeight
        },
        IMDiv(){
            this.ImgRoText = !this.ImgRoText
        },
        //云端历史消息
        getHistoryMsgsDone(error, obj){
            console.log('获取云端历史消息'+(!error?'成功':'失败'));
            console.log(obj);
            if (!error) {
                this.MSGSS = obj.msgs.reverse()
                console.log(this.MSGSS)
                this.nowMessageList = document.getElementById('IMCenter').scrollHeight
            }
        },
    }
}
</script>

<style>
 .DingdanInfo-Header{
text-align: center;
overflow: hidden;
width: 100%;
padding: 0.3rem;
box-shadow: 1px 1px 15px rgba(34,24,21,0.08);
position: fixed;
top: 0;
left: 0;
z-index: 100;
background: #fff
}
.DingdanInfo-icon1{
    width: 0.2rem;
    height: 0.4rem;
    float: left;
}
.Dingdan-title{
    font-size: 18px;
    color: #101012;
}
.All-Center-Foots{
    overflow: hidden;
    margin-top: 0.2rem;
    /* margin-bottom: 0.3rem; */
}

.all-Center-Left{
    float: left;
    margin-right: 0.3rem;
    line-height: 0.3rem;
    color: #CCCCCC;
    font-size: 11px;
    overflow: hidden;
}
.All-icon2{
    width: 0.24rem;
    height: 0.24rem;
    margin-right: 0.1rem;
    float: left;
}
.IMPeople{
    box-shadow:1px 1px 15px rgba(34,24,21,0.08);
    position: fixed; 
    top: 1.64rem;
    left: 0.3rem;
    width: 6.9rem;
    padding: 0.3rem;
    padding-bottom: 0;
    background: #fff;
    z-index: 100;
}
.IMPeopleHeader{
    overflow: hidden;
    margin-bottom: 0.2rem
}
.IMPeopleName{
    float: left;
    color: #101012;
    font-size: 12px;
    font-weight: bold;
}
.IMPeopleType{
    color: #999999;
    font-size: 12px;
    font-weight: bold;
    float: right;
}
.IMPeopleCenter{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #666666;
    font-size: 12px;
    font-weight: bold
}
.IMFoot{
    box-shadow:1px 1px 15px rgba(34,24,21,0.08);
    position: fixed;
    z-index: 100;
    bottom: 0;
    left: 0;
    padding: 0.3rem;
    width: 100%;
    background: #fff
}
.IMFootInputBox{
    float: left;
    width: 80%;
    /* background: red */
}
.IMFootInput{
    outline:none;
    border: none;
    user-select: text;
    -webkit-user-select: text;
    font-size: 14px
    /* background: red */
}
.IMFootSend{
    position: fixed;
    bottom: 0.2rem;
    right: 0.3rem;
    /* float: right; */
    width: 1rem;
    height: 0.5rem;
    line-height: 0.5rem;
    text-align: center;
    background: linear-gradient(to right, #9953F0 , #7465E9);
    border-radius: 0.26rem;
    color: #fff;
    font-size: 12px;
    font-weight: bold
}
.IMFootSendImg{
    width: 0.52rem;
    height: 0.5rem;
    position: fixed;
    bottom: 0.3rem;
    right: 0.3rem;
}
.MSGSS{
    padding:0.1rem 0.3rem;
    color: #fff;
    background: #9953F0;
    border-radius: 0.1rem;
    font-weight: bold;
    font-size: 14px
}
.MSGSSLeft{
    float: left;
}
.MSGSSRight{
    float: right;
}
.IMCenter{
    overflow: hidden;
}
.IMCenter{
    margin-top: 2.4rem;
    padding-bottom: 1.1rem;
}
</style>
