<template>
    <div style="padding-top:1.6rem">
        <div class="DingdanInfo-Header">
            <!-- <img @click="goBack" src="../../assets/icon-back.png" class="DingdanInfo-icon1"> -->
            <div style="width:0.5rem;height:0.5rem;float:left" @click="goBack">
                <img  src="../../assets/icon-back.png" class="DingdanInfo-icon1">
            </div>
            <span class="Dingdan-title">系统通知</span>
        </div>
        <div class="XiTongNewsCenter">
            <p class="XiTongNewsTime">09-31 15:36</p>
            <div class="XiTongNewsCenters">
                <p class="XiTongNewsCenterHeader">龙腾版本更新</p>
                <p class="XiTongNewsCenterFooot">龙腾版本更新到 V2.6.7,龙腾版本更新到 V2.6.7龙腾版本更新到 V2.6.7</p>
            </div>
        </div>
        <div class="XiTongNewsCenter">
            <p class="XiTongNewsTime">09-31 15:36</p>
            <div class="XiTongNewsCenters">
                <p class="XiTongNewsCenterHeader">龙腾版本更新</p>
                <p class="XiTongNewsCenterFooot">龙腾版本更新到 V2.6.7,龙腾版本更新到 V2.6.7龙腾版本更新到 V2.6.7</p>
            </div>
        </div>
    </div>
</template>

<script>
import PhotoView from '../../common/PhotoView'
// console.log(document.getElementById('IMCenter'))
const NIM = require('../../sdk/NIM_Web_SDK_v5.8.0.js')
export default {
    name:'XiTongNews',
    components:{
        PhotoView
    },
    data(){
        return {
            Msgs:'',
            MSGSS:[],
            nowMessageList:'',
            ImgRoText: true,
            SendCenter:'',
            ShowPhotoView: false
        }
    },
    created(){
        this.CheckYunxin()
    },
    watch:{
        
    },
    methods:{
        goBack(){
            this.$router.go(-1)
        },
        //连接云信
        CheckYunxin(){
            var nim = SDK.NIM.getInstance({
                appKey:'6cc39d38df67682dc853d197884ba8e5',
                account:'zhangsan',
                token:'18b20c57ff8c7d5f86ab1007fc3f8d6a',
                onmsg:this.onMsg,
                lastIdServer:'lastIdServer',
                limit: 100,
                done: this.getLocalSysMsgsDone
            })
        },
        onMsg(msg){
            console.log('收到消息', msg.scene, msg.type, msg.text);
            this.MSGSS.push(msg)
            this.nowMessageList = document.getElementById('IMCenter').scrollHeight
        },
        getLocalSysMsgsDone(error, obj){
            console.log(error);
            console.log(obj);
            console.log("获取本地系统通知"+(!error?'成功':'失败'));
            if(!error){
                console.log(obj.sysMsgs)
            }
        }
    }
}
</script>
 <style>
 .DingdanInfo-Header{
text-align: center;
overflow: hidden;
width: 100%;
padding: 0.3rem;
box-shadow: 1px 1px 15px rgba(34,24,21,0.08);
position: fixed;
top: 0;
left: 0;
z-index: 100;
background: #fff
}
.DingdanInfo-icon1{
    width: 0.2rem;
    height: 0.4rem;
    float: left;
}
.Dingdan-title{
    font-size: 18px;
    color: #101012;
}
.XiTongNewsCenter{
    margin: 0 0.3rem;
    margin-bottom: 0.4rem
}
.XiTongNewsTime{
    text-align: center;
    color: #CCCCCC;
    font-size: 11px;
    margin-bottom: 0.2rem
}
.XiTongNewsCenters{
    padding: 0.2rem;
    box-shadow:1px 1px 15px rgba(34,24,21,0.08);
}
.XiTongNewsCenterHeader{
    color: #101012;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 0.2rem
}
.XiTongNewsCenterFooot{
    color: #666666;
    font-size: 12px;
    line-height: 0.36rem;
    font-weight: bold
}
 </style>
 