<template>
  <div id="app">
    <!-- <router-view/> -->
    <transition name="fade">
      <router-view></router-view>
    </transition>
  </div>
</template>

<script>
import {mapMutations} from 'vuex'
export default {
  name: 'App',
  created(){},
  methods:{
    ...mapMutations({
      setUserinfo: 'SET_USERINFO',
    })
  },
  updated() {
        window.scroll(0, 0);
  },
}
</script>

<style>
.fade-enter-active, .fade-leave-active {
  transition: opacity .3s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}
.swiper-box{
    margin-top: -0.6rem
}
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  /* text-align: center; */
  /* color: #2c3e50; */
  font-size: 10px;
  width: 100xw;
  height: 100vh;
  background-color: #fff;
  /* padding-top: 1.4rem */
}
body{
  background: #fff
}
input{
  outline: none;
  border:none
}
a{text-decoration:none}
* {
  padding: 0;
  margin: 0;
}
</style>
