<template>
    <div class="PopupBox" v-if="Popups">
       <!-- <img v-bind:src="ImageUrl" class="ImageS" @click="ImageClose">
       <div class="WhichOne">
           3/3
       </div> -->
       <swiper :options="swiperOption" ref="imgOverview" style="height: 100%;" v-if="!previewImg">
            <swiper-slide >
                <div class="swiper-zoom-container" >
                    <img :src="ImageUrl" @click="ImageClose">
                </div>
            </swiper-slide>
        </swiper>
        <swiper :options="swiperOption" ref="imgOverview" style="height: 100%;" v-if="previewImg">
            <swiper-slide v-for="(img, index) in previewImg" :key="index">
                <div class="swiper-zoom-container" >
                    <img :src="img" @click="ImageClose">
                </div>
            </swiper-slide>
        </swiper>
    </div>
</template>

<script>
import 'swiper/dist/css/swiper.css';
import { swiper, swiperSlide } from 'vue-awesome-swiper';
export default {
    name:'BigImage',
    components: {
        swiper,
        swiperSlide,
    },
    props:{
        BigImageOpen:{
            type:Boolean,
            required:true
        }
    },
    data(){
        return {
            Popups:false,
            ImageUrl:'',
            previewImg:[],
            swiperOption: {
                width: window.innerWidth,
                zoom : true,
                initialSlide: 0,
            },
        }
    },
    created(){
        this.Popups = this.BigImageOpen
        this.ImageUrl = JSON.parse(sessionStorage.getItem('ImageUrl'))
        this.previewImg = JSON.parse(sessionStorage.getItem('MacPhotoUrlList'))
    },
    methods:{
        ImageClose(){
            sessionStorage.removeItem('ImageUrl')
            sessionStorage.removeItem('MacPhotoUrlList')
            this.Popups = false,
            this.$emit("changeDeletPopup",this.Popups)
        },
    }
}
</script>

<style>
.PopupBox{
    background: RGBA(0, 0, 0, 1);
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000
}
.ImageS{
    position: absolute;
    top: 25%;
    margin-top: -25%;
    width: 100%;
    display: inline-block;
}
.WhichOne{
    position: absolute;
    bottom: 0.8rem;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    padding: 0.12rem 0.6rem;
    background: #000000;
    color: #FFFFFF;
    border-radius: 1.26rem;
    font-size: 15px;
}
</style>
