<template>
    <div class="PopupBox" v-if="Popups">
       <div class="FoundHelp">
            <p class="FoundHelpHeader">是否求助？</p>
            <div class="FoundHelpFoot">
                <span class="FoundHelpLeft" @click="FoundHelpY">否</span>
                <span class="FoundHelpRight" @click="FoundHelpN">是</span>
            </div>
       </div>
       <PopupBuy v-if="popupBuy" :PopupBuy='popupBuy' v-on:changePopupBuy='changePopupBuy'></PopupBuy>
    </div>
</template>

<script>
import PopupBuy from '../common/PopupBuy'
export default {
    components:{
        PopupBuy
    },
    name:'FoundHelp',
    props:{
        FoundHelp:{
            type:Boolean,
            required:true
        }
    },
    data(){
        return {
            Popups:false,
            popupBuy:false
        }
    },
    created(){
        this.Popups = this.FoundHelp
    },
    methods:{
        FoundHelpY(){
            this.Popups = false,
            this.$emit("changeFoundHelp",this.Popups)
        },
        FoundHelpN(){
            this.popupBuy = true
        },
        changePopupBuy(Popups){
            this.popupBuy = Popups
        }
    }
}
</script>

<style>
.PopupBox{
    background: RGBA(0, 0, 0, 0.3);
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000
}
.FoundHelp{
    background: #fff;
    position: absolute;
    top: 5.24rem;
    left: 1rem;
    width: 5.5rem;
    height: 3rem;
    border-radius: 0.1rem
}
.FoundHelpHeader{
    color: #101012;
    font-size: 15px;
    text-align: center;
    line-height: 0.74rem;
    margin-top: 0.6rem;
    margin-bottom: 0.6rem
}
.FoundHelpFoot{
    display: flex;
    justify-content:space-around ;
    border-top: #F1F1F1 1px solid
}
.FoundHelpLeft{
    color: #666666;
    font-size: 14px;
    font-weight: bold;
    line-height: 1rem;
}
.FoundHelpRight{
    color: #CCCCCC;
    font-size: 14px;
    font-weight: bold;
    line-height: 1rem;
}
</style>
