<template>
    <div class="PopupBox" v-if="Popups">
       <div class="ProplemQueren">
            <p class="ProplemQuerenHeader">购买设备配件</p>
            <div class="ProplemQuerenFoot">
                <p class="ProplemQuerenText" v-for="(item,index) in ProplemComponentsList" :key="index">{{index+1}}.{{item.name}}</p>
            </div>
            <div class="ProplemQuerenButton" @click="ProplemQuerenY">前往购买</div>
       </div>
       <img src="../assets/icon-wclose.png" class="PopupClose" @click="ProplemQuerenClose">
       <PopupBuy v-if="popupBuy" :PopupBuy='popupBuy' v-on:changePopupBuy='changePopupBuy'></PopupBuy>
    </div>
</template>

<script>
import PopupBuy from '../common/PopupBuy'
import {mapGetters,mapMutations} from 'vuex'
export default {
    components:{
        PopupBuy
    },
    name:'ProplemQueren',
    props:{
        ProplemQueren:{
            type:Boolean,
            required:true
        }
    },
    computed:{
        ...mapGetters([
            "ProplemComponentsList"
        ])
    },
    data(){
        return {
            Popups:false,
            popupBuy:false
        }
    },
    created(){
        console.log(this.ProplemComponentsList)
        this.Popups = this.ProplemQueren
    },
    methods:{
        ...mapMutations({
            setWhichLingpeijian:'SET_WHICHLINGPEIJIAN',
            setLingpeijianList:'SET_LINGPEIJIANLIST'
        }),
        ProplemQuerenClose(){
            this.Popups = false,
            this.$emit("changeProplemQueren",this.Popups)
        },
        ProplemQuerenN(){
            this.popupBuy = true
        },
        ProplemQuerenY(){
            this.setLingpeijianList(this.ProplemComponentsList)
            this.setWhichLingpeijian(JSON.parse(localStorage.getItem('product_id')))
            this.$router.push('/Lingpeijian/')
        }
    }
}
</script>

<style>
.PopupBox{
    background: RGBA(0, 0, 0, 0.3);
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000
}
.ProplemQueren{
    background: #fff;
    position: absolute;
    top: 5.24rem;
    left: 1rem;
    width: 5.5rem;
    /* height: 3rem; */
    border-radius: 0.1rem
}
.ProplemQuerenHeader{
    color: #101012;
    font-size: 15px;
    text-align: center;
    /* line-height: 0.74rem; */
    margin-top: 0.3rem;
    /* margin-bottom: 0.6rem */
}
.ProplemQuerenFoot{
    padding: 0.32rem
    /* display: flex;
    justify-content:space-around ; */
    /* border-top: #F1F1F1 1px solid */
}
.ProplemQuerenText{
    color: #101012;
    font-size: 14px;
    line-height: 0.6rem
}
.ProplemQuerenButton{
    margin: 0.3rem;
    padding: 0.2rem 0;
    color: #fff;
    font-size: 15px;
    border-radius: 0.46rem;
    background: linear-gradient(to right, #9953F0 , #7465E9);   
    text-align: center;
    margin-bottom: 0.8rem
}
.PopupClose{
    width: 0.4rem;
    height: 0.4rem;
    position: absolute;
    bottom: 10%;
    left: 46%
}
</style>
